.r-text {
  font-family: 'myriad';
  font-size: 18px;
  display: inline-block;
}

span{
  font-weight: bolder;
}

.technical-support-cont {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #A73030;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sup-text {
  max-width: 600px;
  color: white;
  font-family: 'myriad';
  font-size: 24px;
  text-align: center;
}

.technical-support-cont > .logo{
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 1000;  
  height: 50px;
  width: 230px;
  background-size: cover !important;
  background: url('../images/long-logo.png');
}

.tab{
  height: 40px;
  width: 100%;
  font-family: 'days-one';
  color: #A73030;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;              
}

.tab-text{
  position: absolute;
  height: 30px;
  cursor: pointer;
  transition: 0.4s;
}

h1 {
  display: block !important;
}

.red-span {
  color: #A73030;
}

h1.r-title {
  margin: 0;
  padding: 0;
  color: #A73030;
  font-size: 50px;
  line-height: 64px;
  font-family: days-one;
  text-align: center;
  padding-top: 20px;
}

h2.r-title {
  margin: 0;
  padding: 0;
  color: #A73030;
  font-size: 36px;
  line-height: 45px;
  font-family: days-one;
  text-align: center;
  padding-top: 20px;
}

.marg-r-title {
  margin-top: 50px !important;
  margin-bottom: 30px !important;
}

li {
  font-family: 'myriad';
  font-size: 18px;
  margin-top: 16px;
}

.mini-cover {
  width: 100%;
  height: 200px;
  background-color: #ececec;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url("../../static/images/storage.jpeg");
  background-position: center;
  background-size: contain;
}

.card-video {
  margin-top: 0px !important;
}

.navbar {
  z-index: 2000;
  position: fixed;
  right: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(0,0,0,0.4);
  display: flex;
}

.nav-el {
  width: auto;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  font-family: 'myriad';
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.4s;
  user-select: none;
  z-index: 5000;
}

.nav-el:hover {
  background-color: #2f2f2f;
}

.nav-el.active {
  background-color: #2f2f2f;
  text-decoration: underline;
}

.mobile-sidebar {
  background-color: white !important;
  display: flex;
  align-items: center;
}

.side-text-black {
  font-size: 18px;
  padding-top: 0;
  text-align: center;
  box-sizing: border-box;
  color: black;
  font-family: 'myriad';
}

.links-container {
  height: 190px !important;
  top: 0px !important;
}

.side-active {
  text-decoration: underline;
}

.text-cont-new {
  z-index: 400;
  width: 80%;
  height: auto;
  position: absolute;
  margin-left: 10%;
  top: 175px;
  color: #fff;
  font-family: 'myriad';
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%;
}

.first-text {
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
}

.main-link > a {
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: white;
  margin-top: 50px;
  text-decoration: underline;
}

.main-link-cont {
  display: flex;
  justify-content: space-between;
}

.details {
  position: relative;
  width: 90%;
  margin: 0px auto;
  margin-top: 35px;
  height: 200px;
  cursor: pointer;
}

.details-wrapper {
  cursor: pointer;
  font-family: 'myriad';
  text-decoration: none !important;
  background: rgba(0,0,0,0.6);
  position: absolute;
  top: 0px;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 45px;
  z-index: 1000;
}

.second {
  top: -100px;
}

.det-wrap-text {
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;  
}

.card {
  margin-bottom: 50px;
}

.cont {
  margin: 0 auto 20px !important;
}

.cover-00{
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover !important;            
  background: url('../images/main-00.jpeg');
  z-index: -300;
  opacity: 0;
}

.radiator-links {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 30px;
}

.radiator-link {
  cursor: pointer;
  width: 44%;
  background-color: #A73030;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'myriad';
}

.card-img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.card-img > img{
  width: 80%;
  height: auto;
}

b {
  font-weight: bolder;
  font-family: 'helvetica-b';
}

.modal-gallery {
  display: none;
}

.modal-gallery.opened {
  display: block;
  position: fixed;
  background: rgba(167, 48, 48, 0.6);
  z-index: 50000;
  width: 100%;
  left: 0px;
  top: 0px;
  height: 100vh;
}

.modal-gallery.opened  > .gallery-box {
  top: 0px;
  position: fixed;
  height: 100vh;
  left: 0px;
}

.modal-gallery.opened  > .close {
  cursor: pointer;
  height: 45px;
  width: 45px;
  background-repeat: no-repeat !important;
  position: absolute;
  right: 45px;
  top: 45px;
  background-size: 100% !important;
  background: url('../images/icons/close.svg');
  transition: 0.4s;
}

.main-container #seventh .modal-gallery{
  top: 0px;
  margin-top: 100px;
}

@media (min-width: 300px) and (max-width: 1024px){

  .cover-00 {
    background-position-x: -350px;
  }

  .navbar {
    display: none;
  }

  .mini-cover {
    height: 100px;
    background-size: cover;
  }

  h1.r-title {
    display: none;
  }

  .r-text {
    font-size: 14px;
  }
  
  h2.r-title {
    font-size: 20px;
    line-height: 30px;
  }

  .details, .details-wrapper  {
    height: 100px;
    font-size: 20px;
  }

  .second {
    top: 0px;
  }

  .text-cont-new {
    margin-left: 50;
    width: 300px;
  }

  .text-cont-new > .first-text {
    font-size: 14px;
    line-height: 22px;
  }

  .main-link > a {
    font-size: 14px;
    line-height: 20px;
  }

  .main-link {
    margin-top: 20px;
  }

  .main-link-cont {
    flex-direction: column;
  }

  .text-cont-new {
    justify-content: flex-start;
  }
}

@media (min-width: 1281px) and (max-width: 1367px){
  .second {
    top: 0px;
  }
} 
