.second > .info-cont{
    display: flex !important; 
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;    
}
.dots{
    display: flex !important; 
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;       
}
.line-cont{
    display: flex !important; 
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;     
}

.arrows{
    display: flex !important; 
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;  
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;    
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;  
}

.slide-el2{
    display: flex !important; 
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;     
}

.tabs-cont{
    display: flex !important; 
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;   
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;     
}

.text-el{
    display: flex !important; 
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;    
}

.sidebar{
    display: flex !important; 
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;    
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;    
}

.logo-cont{
    display: flex !important; 
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;     
}