
@font-face{
    src: url('fonts/DaysOne.ttf');
    font-family: 'days-one';
}
@font-face{
    src: url('fonts/Geo-Regular.ttf');
    font-family: 'geo';
}
@font-face{
    src: url('fonts/MyriadPro.ttf');
    font-family: 'myriad';
}
@font-face{
    src: url('fonts/Helvetica.otf');
    font-family: 'helvetica';
}
@font-face{
    src: url('fonts/Roboto-Black.ttf');
    font-family: 'roboto';
}

@font-face{
    src: url('fonts/Helvetica-Bold.otf');
    font-family: 'helvetica-b';
}