$light-grey: #ececec;
$wine-red: #A73030;


@mixin l-desk{
  @media (min-width: 1368px){
    @content;
  }
}

@mixin m-desk{
  @media (min-width: 1281px) and (max-width: 1367px){
    @content;
  }
}

@mixin sm-desk{
  @media (min-width: 1025px) and (max-width: 1280px)  {
    @content;
  }
}

@mixin tablet{
    @media (min-width: 641px) and (max-width: 1024px){
        @content;
    }
}

@mixin mobile{
    @media (min-width: 300px) and (max-width: 1024px){
        @content;
    }
}
@mixin smobile{
    @media (max-width: 320px){
        @content;
    }
}

h1{
    display: none;
    @include mobile {
        display: block;
        font-family: 'myriad';
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;       
        position: absolute;
        width: 100%;
        padding-top: 15px;         
    }
}
.catalog-container {
    position: absolute;
    width: 100%;
    height: 100%;
    .p-schema{
        position: absolute;
        img{
            position: relative;
            width: 100%;
            height: 100%; 
        }
    }
    .p-schema-1{
        right: 0;
        height: 550px;
        width: 700px;
        background-image: url("../../static/images/catalog/scheme1.png");
        @include m-desk {
            height: 390px;
            width: 640px;
        }
        @include sm-desk {
            height: 390px;
            width: 640px;
        }
    }

    .p-schema-2{
        left: -250px;
        // top: 330px !important;
        top: initial;
        bottom: 0px;
        width: 1120px;
        height: 347px;
        background-image: url("../../static/images/catalog/scheme2.png");
        @include m-desk {
            height: 350px;
            width: 900px;
            top: 330px;
        }
        @include sm-desk { 
            height: 300px;
            width: 800px;
            top: 380px;
        }
    }

    .background {
        background-color: $wine-red;
        display: flex;
        position: absolute;
        height: 100%;
        width: 100% !important;
        min-height: 870px;
        // justify-content: center;
        // align-items: center;
        // height: 100%;
        @include m-desk {
            min-height: 860px;
            max-height: 100%;
        }
        @include sm-desk {
            min-height: 860px;
        }
        @include mobile {
            min-height: 900px;
            align-items: initial;
        }
        @include tablet {
            min-height: 770px;
        }
        .slider {
            width: 1500px;
            margin-left: calc((100% - 1500px)/2);
            margin-top: 125px;
            // height: 550px;
            @include m-desk {
                margin-left: calc((100% - 1200px)/2);
                width: 1200px;
            }
            @include sm-desk {
                margin-left: calc((100% - 1000px)/2);
                width: 1000px;
            }
            @include mobile {
                margin-left: calc((100% - 300px)/2);
                width: 300px;
                margin-top: 60px !important;
            }
            @include tablet {
                margin-left: calc((100% - 600px)/2);
                width: 600px;
                margin-top: 60px;
            }
            @include smobile {
                margin-left: 5%;
                width: 90%;
            }
            .slide {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                height: 650px;
                @include m-desk{
                    height: 500px;
                }
                @include sm-desk{
                    height: 500px;
                }
                @include tablet {
                    height: 400px;
                    flex-direction: column-reverse;
                    align-items: center;
                }
                @include mobile {
                    flex-direction: column-reverse;
                    align-items: center;
                    // display: block;
                    justify-content: flex-end;
                }
                .left { 
                    width: 800px;
                    height: auto;
                    font-family: 'myriad';
                    @include m-desk {
                        width: 600px;
                    }
                    @include sm-desk {
                        width: 500px;
                    }
                    @include tablet {
                        width: 540px;
                        margin-top: 20px;
                    }
                    @include mobile {
                        width: 90%;
                        margin-top: 20px;
                    }
                    .title {
                        font-size: 40px;
                        color: #FFFFFF;
                        @include m-desk {
                            font-size: 36px;
                        }
                        @include sm-desk {
                            font-size: 32px;
                        }
                        @include tablet {
                            font-size: 30px;
                        }
                        @include mobile {
                            font-size: 16px;
                        }
                        &.eighth {
                            text-align: center;
                        }
                    }
                    p {
                        font-size: 20px;
                        line-height: 29px;
                        color: #FFFFFF;
                        margin: 0px;
                        @include m-desk {
                            font-size: 18px;
                        }
                        @include sm-desk {
                            font-size: 16px;
                            line-height: 20px;
                        }
                        @include tablet {
                            font-size: 20px;
                            line-height: 26px;
                        }
                        @include mobile {
                            font-size: 12px;
                            line-height: 18px;
                        }
                        &.first {
                            margin-top: 50px;
                            @include tablet {
                                margin-top: 20px;
                            }
                            @include mobile {
                                margin-top: 20px;
                            }
                        }
                        &.third {
                            margin-top: 30px;
                        }
                    }
                    .button {
                        margin-top: 50px;
                        width: 150px;
                        height: 40px;
                        font-size: 18px;
                        line-height: 22px;
                        color: #A73030;
                        background-color: #FFFFFF;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @include tablet {
                            margin: 50px auto 0;
                        }
                        @include mobile {
                            width: 130px;
                            height: 30px;
                            font-size: 15px;
                            margin: 40px auto 0;
                        }
                    }
                    .button:hover {
                        transform: scale(1.2);
                        cursor: pointer;
                    }
                }
                .right {
                    width: 550px;
                    height: 550px;
                    background-position: center;
                    background-size: cover;
                    @include m-desk {
                        width: 500px;
                        height: 500px;
                        // background-position: center;
                    }
                    @include sm-desk {
                        width: 450px;
                        height: 450px;
                        // background-position: center;
                    }
                    @include tablet {
                        height: 350px;
                        width: 350px;
                        // background-position: center;
                    }
                    @include mobile {
                        height: 300px;
                        width: 300px;
                        // background-position: center;
                    }
                    &.s1 {
                        background-image: url("../../static/images/catalog/s1.png")
                    }
                    &.s2 {
                        background-image: url("../../static/images/catalog/s2.png")
                    }
                    &.s3 {
                        background-image: url("../../static/images/catalog/s3.png")
                    }
                    &.s4 {
                        background-image: url("../../static/images/catalog/s4.png")
                    }
                    &.s5 {
                        background-image: url("../../static/images/catalog/s5.png")
                    }
                    &.s6 {
                        background-image: url("../../static/images/catalog/s6.png")
                    }
                    &.s7 {
                        background-image: url("../../static/images/catalog/s7.png")
                    }
                    &.s8 {
                        background-image: url("../../static/images/catalog/s8.png")
                    }
                    &.s9 {
                        background-image: url("../../static/images/catalog/s9.png")
                    }
                }
            }
            .slides {
                ul {
                    width: 1000px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    // align-items: center;
                    list-style: none;
                    // margin: 40px auto;
                    padding: 0px;
                    margin-left: calc((100% - 1000px)/2 - 40px);
                    @include m-desk {
                        width: 800px;
                        // margin: 40px auto 0;
                        margin-left: calc((100% - 8000px)/2 - 40px);
                    }
                    @include sm-desk {
                        width: 800px;
                        // margin: 40px auto 0;
                        margin-left: calc((100% - 800px)/2 - 40px);
                    }
                    @include tablet {
                        width: 700px;
                        // margin: 30px auto 0;
                        margin-left: calc((100% - 1000px)/2 - 30px); 
                        padding: 0px;
                        bottom:  -70px !important;
                    }
                    @include mobile {
                        width: 100%;
                        margin: 20px auto 0;
                        padding: 0px;
                        position: absolute;
                        bottom: -70px;
                    }
                    li {
                        width: 50px;
                        height: 50px;
                        transform: rotate(45deg);
                        opacity: 0.6;
                        background-color: #FFFFFF;
                        cursor: pointer;
                        @include tablet {
                            width: 40px;
                            height: 40px; 
                        }
                        @include mobile {
                            width: 20px;
                            height: 20px;
                        }
                        button {
                            width: 100%;
                            height: 100%;
                            transform: rotate(-45deg);
                            font-family: 'geo';
                            font-size: 18px;
                            line-height: 20px;
                            color: $wine-red;   
                            outline: none;
                            border: 0px;
                            background-color: transparent;
                            cursor: pointer;
                            @include mobile {
                                font-size: 11px;
                                line-height: 11px;
                            }
                        }
                        .slick-active {
                            background-color: $wine-red;
                            color: #FFFFFF;
                        }
                    }
                    :hover {
                        opacity: 1;
                    }
                    .slick-active {
                        opacity: 1;
                    }
                }
                &.slick-dotted {
                    &.slick-slider{
                        margin-bottom: 0px !important;
                    }
                }
            }
        }
    }

} 

