$light-grey: #ececec;
$wine-red: #A73030;
$slide-time: 13s;

@mixin l-desk{
  @media (min-width: 1368px){
    @content;
  }
}

@mixin m-desk{
  @media (min-width: 1281px) and (max-width: 1367px){
    @content;
  }
}

@mixin sm-desk{
  @media (min-width: 1025px) and (max-width: 1280px)  {
    @content;
  }
}
@mixin tablet{
    @media (min-width: 641px) and (max-width: 1024px){
        @content;
    }
}

@mixin mobile{
    @media (min-width: 300px) and (max-width: 1024px){
        @content;
    }
}

@mixin smobile{
    @media (max-width: 320px){
        @content;
    }
}

.img-container{
    position: relative;
    margin: 0px auto;
    width: 1520px;
    height: 830px;
    // background-color: $light-grey;
    @include l-desk{
        width: 80%;
        height: 590px;
    }
    @include m-desk{
        width: 900px;
        height: 400px;
    }
    @include sm-desk{
        width: 900px;
        height: 400px;
    }
    @include mobile{
        width: 320px;
        height: 150px;
    }    
    @include tablet{
        width: 650px;
        height: 350px;
    }
    .img-box{
        position: relative;
        width: 1450px;
        height: 780px;
        margin: 0px auto;
        top: 25px;
        user-select: none;
        @include l-desk{
            width: 1100px;
            height: 560px;
        }
        @include m-desk{
            width: 840px;
            height: 450px;
        }
        @include sm-desk{
            width: 840px;
            height: 450px;
        }        
        @include mobile{
            width: 310px;
            height: 170px;
            top: 100px;
        }
        @include smobile{
            top: 70px;
        }
        @include tablet{
            top: 50%;
            width: 650px;
            height: 350px;   
        }
        img{
            user-select: none;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}
.remote{
    height: 45px;
    width: 120px;
    // background-color: grey;
    margin: 0px auto;
    color: white;
    font-family: 'geo';
    font-size: 40px;
    text-align: center;
    user-select: none;
    position: absolute;
    left: calc(50% - 60px);      
    top: 80%;
    @include tablet{
        top: 90%;
    }
    span{
        user-select: none;
    }
}
.gal-arrows-cont{
    z-index: 2300;
    position: absolute;
    height: 60px;
    width: 100%;
    margin-top: calc((830px - 60px)/2);
    @include m-desk{
        height: 30px;
        margin-top: calc((500px - 30px)/2);
    }
    @include sm-desk{
        height: 30px;
        margin-top: calc((500px - 30px)/2);
    }  
    @include mobile{
        height: 40px;
        margin-top: calc((100% - 40px)/2);
    }  
    .arrows{
        position: relative;
        width: 1700px;
        height: 100%;
        margin: 0px auto;
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;         
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        @include l-desk{
            width: 90%;
        }
        @include m-desk{
            width: 1000px;
        }
        @include sm-desk{
            width: 1000px;
        }        
        @include mobile{
            width: 100%;
            // background-color: grey;
        }
        .arrow{
            user-select: none;
            background-color: grey;
            height: 100%;
            width: 35px;
            background-repeat: no-repeat !important;  
            background-size: 100% !important;
            cursor: pointer;
            transition: 0.4s;
            @include m-desk{
                width: 20px;
                background-size: 100% !important;
            }
            @include sm-desk{
                width: 20px;
                background-size: 100% !important;
            }         
            @include mobile{
                width: 20px;
                background-size: 100% !important;
            }   
            &:hover{
                transform: scale(1.05, 1.05);
            }
        }
        .arrow-left{
            background: url('../images/icons/white-left-arrow.svg');
        }
        .arrow-right{
            background: url('../images/icons/white-right-arrow.svg');
        }
    }
}