$light-grey: #ececec;
$wine-red: #A73030;
$slide-time: 13s;

@mixin l-desk{
  @media (min-width: 1368px){
    @content;
  }
}

@mixin m-desk{
  @media (min-width: 1281px) and (max-width: 1367px){
    @content;
  }
}

@mixin sm-desk{
  @media (min-width: 1025px) and (max-width: 1280px)  {
    @content;
  }
}
@mixin tablet{
    @media (min-width: 641px) and (max-width: 1024px){
        @content;
    }
}

@mixin mobile{
    @media (min-width: 300px) and (max-width: 1024px){
        @content;
    }
}

@mixin smobile{
    @media (max-width: 320px){
        @content;
    }
}

.images-cont{
    height: 800px;
    width: 100%;
    margin-top: 30px;
    user-select: none;
    @include l-desk{
        height: auto;
    }
    @include m-desk{
        margin-top: 10px;
        height: 500px;
    }
    @include sm-desk{
        margin-top: 10px;
        height: 500px;
    }    
    @include mobile{
        margin-top: 10px;
        height: 550px;
    }
    @include smobile{
        margin-top: 4px;
    }
    .main-img{
        height: 170px;
        width: 100%;
        background-color: grey;
        @include tablet{
            height: 300px;
        }
        @include smobile{
            height: 140px;
        }
        .img-el{
            height: 170px;
            width: 100%;
            position: relative;
            @include tablet{
                height: 300px;
            }
            @include smobile{
                height: 140px;
            }
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            } 
        }
    }
    .line{
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;     
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        @include mobile{
            height: 100px;
            width: 100%;
            margin-top: 10px;
        }
        @include smobile{
            height: 80px;
            &:nth-child(4){
                height: 50px;
            }
        }
        @include tablet{
            height: 150px;
            position: relative;
            margin-top: 20px;
            &:nth-child(4){
                height: 95px;
            }
        }
        .img-el{
            cursor: pointer;
            transition: 0.4s;
            clip-path: polygon(0% 0%, 0% 100%, 100% 100% , 100% 0%);
            &:hover{
                img{
                    transition: 0.4s;
                    transform: scale(1.1, 1.1);
                }
            }
        }
        .line-el{
            height: 100%;
            @include mobile{
                height: 100%;
                width: 155px;
                background-color: grey;
            }
            @include smobile{
                width: 115px;
            }
            @include tablet{
                width: 280px;
            }
            img{
                transition: 0.2s;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .loading{
                background-color: grey !important;
            }
        }
    }
    .top-line{
        height: 570px;
        width: 100%;
        @include m-desk{
            height: 350px;
        }
        @include sm-desk{
            height: 350px;
        }        
        .left-el{
            width: 993px; 
            @include l-desk{
                width: 65%;
            }
            @include m-desk{
                width: 600px;
            }
            @include sm-desk{
                width: 600px;
            }            
        }
        .right-el{
            width: 390px;
            display: flex;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;             
            flex-direction: column;
            justify-content: space-between;
            @include m-desk{
                width: 250px;
            }
            @include sm-desk{
                width: 250px;
            }            
            .in-line{
                @include m-desk{
                    height: 160px;
                }
                @include sm-desk{
                    height: 160px;
                }                
                height: 255px;
                width: 100%;
            }
        }
    }
    .bottom-line{
        width: 100%;
        height: 258px;
        margin-top: 66px;
        width: 100%;
        @include m-desk{
            margin-top: 33px;
            height: 160px;
        }
        @include sm-desk{
            margin-top: 33px;
            height: 160px;
        }        
        .line-el{
            width: calc((100% - 150px)/3);
            height: 100%;
        }
    }
}

.gallery-remote{
    background-color: $wine-red !important;
    @include mobile{    
        width: 100% !important;
    }
    .arrows-cont{
        height: 45px;
        width: calc(100% - 126px);
        margin: 0px auto;
        margin-top: calc((200px - 0px)/2);
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;                 
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        @include m-desk{
            height: 30px;
            margin-top: 80px;
        }
        @include sm-desk{
            height: 30px;
            margin-top: 80px;
        }           
        @include mobile{
            margin-top: 40px;
            height: 25px;
            width: 90%;
        }    
        @include smobile{
            margin-top: 15px;
        } 
        .arrow{
            transition: 0.4s;
            cursor: pointer;
            width: 28px;
            height: 100%;
            user-select: none;
            background-size: 100% !important;
            background-repeat: no-repeat !important;
            @include m-desk{
                width: 20px;
            }
            @include sm-desk{
                width: 20px;
            } 
            @include mobile{
                width: 13px;
            }                   
            &:hover{
                transform: scale(1.1,1.1);
            }
        }
        .arrow-left{
            background: url('../images/icons/white-left-arrow.svg');
        }
        .arrow-right{
            background: url('../images/icons/white-right-arrow.svg');
        }
        .text{
            width: 120px;
            height: 100%;
            color: white;
            font-family: 'geo';
            font-size: 40px;
            text-align: center;
            user-select: none;
            @include m-desk{
                font-size: 26px;
                margin-top: -3px;
            }
            @include sm-desk{
                font-size: 26px;
                margin-top: -3px;
            }   
            @include mobile{
                font-size: 20px;
            }                 
            span{
                user-select: none;
            }
        }
    }
}
