$light-grey: #ececec;
$wine-red: #A73030;


@mixin l-desk{
  @media (min-width: 1368px){
    @content;
  }
}

@mixin m-desk{
  @media (min-width: 1281px) and (max-width: 1367px){
    @content;
  }
}

@mixin sm-desk{
  @media (min-width: 1025px) and (max-width: 1280px)  {
    @content;
  }
}

@mixin tablet{
    @media (min-width: 641px) and (max-width: 1024px){
        @content;
    }
}

@mixin mobile{
    @media (min-width: 300px) and (max-width: 1024px){
        @content;
    }
}
@mixin smobile{
    @media (max-width: 320px){
        @content;
    }
}

.p-schema{
    position: absolute;
    img{
        position: relative;
        width: 100%;
        height: 100%; 
    }
    @include mobile{
        display: none;
    }
}
.p-schema-1{
    right: 0;
    height: 550px;
    width: 700px;
    @include m-desk{
        height: 500px;
        width: 500px
    }
    @include sm-desk{
        height: 500px;
        width: 500px
    }    
}

.p-schema-2{
    left: 0;
    top: 1300px;
    height: 950px;
    width: 1300px;
    @include m-desk{
        height: 600px;
        width: 900px
    }
    @include sm-desk{
        height: 600px;
        width: 900px
    }      
}

.flex{
    display: flex;
}
.marg-60{
    margin-top: 60px;
    @include mobile{
        margin-top: 30px !important;
    }
}
.m-marg-60{
    @include mobile{
        margin-top: 30px !important;
    }
}
.marg-180{
    margin-top: 180px;
    @include mobile{
        margin-top: 60px;
    }
}
.space-around{
    justify-content: space-around !important;
}
.sidebar {
    top: 0;
}
.grid-container{
    width: 1310px;
    height: auto;
    margin: 0px auto;
    margin-top: 90px;
    margin-bottom: 200px;
    @include m-desk{
        width: 900px;
    }
    @include sm-desk{
        width: 900px;
    }    
    @include mobile{
        width: 100%;
    }
    @include tablet{
        width: 600px;
    }
    .title{
        height: 75px;
        font-family: 'helvetica-b';
        text-align: center;
        font-size: 96px;
        color: $wine-red;
        line-height: 75px;
        @include mobile{
            line-height: 30px;
            height: 30px;
            font-size: 30px;
        }
    }
    .column-cont{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .r-line-cont{
        height: 2px;
        // background-color: $wine-red;
        width: 100%;
        margin-top: 90px;
        position: absolute;
        left: 0px;
        @include mobile{
            margin-top: 20px;
        }
        .central-line{
            height: 2px;
            width: 5%;
            margin: 0px auto;
            background-color: $wine-red;
        }
        .line{
            height: 2px;
            width: 40%;
            background-color: $wine-red;
            position: absolute;
        }
        .right{
            right: 0px;
        }
    }
    .row{
        height: auto;
        width: auto;
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include mobile{
            flex-direction: column;
            margin-top: 10px;
        }
        &.first{
            margin-top: 60px;
            @include mobile{
                margin-top: 30px;
            }
        }
        .row-el{
            height: auto;
            @include mobile{
                margin: 0px auto;
            }
            &.hor-el{
                height: 275px;
            }
            img{
                position: relative;
                height: auto;
                width: 100%;
            }
            .subtitle{
                position: relative;
                height: 60px;
                width: 100%;
                @include mobile{
                    height: 40px;
                }
                .name, .desc{
                    text-align: center;
                    font-size: 18px;
                    font-family: 'helvetica-b';
                    text-transform: uppercase;
                    @include mobile{
                        font-size: 10px;
                    }
                }
                .name{
                    padding-top: 10px;
                }
                .desc{
                }
                .half-sub{
                    width: 50%;
                    display: inline-block;
                    height: 60px;
                }
            }
        }
        .col-half{
            width: 48%;
            @include mobile{
                width: 80%;
            }
        }
        .m-col-half{
            @include mobile{
                width: 48% !important;
            }
        }
        .col-1{
            width: 14%;
            @include mobile{
                width: 80%;
                margin: 0px auto;
            }            
        }
        .col-2{
            width: 20%;
            @include mobile{
                width: 80%;
                margin: 0px auto;
            }            
        }
        .m-col-2{
            @include mobile{
                width: 35% !important;

            }
        }
        .col-3{
            width: 41%;
            @include mobile{
                width: 80%;
                margin: 0px auto;
            }            
        }
        .m-col-3{
            @include mobile{
                width: 51% !important;
            }
        }
        .col-4{
            width: 51%;
            @include mobile{
                width: 80%;
                margin: 0px auto;
            }               
        }
        .col-5{
            width: 70%;
            @include mobile{
                width: 80%;
                margin: 0px auto;
            }             
        }
        .m-col-5{
            @include mobile{
                width: 70% !important;
            }            
        }
        .col-7{
            width: 100%;
            @include mobile{
                width: 100%;
                margin: 0px auto;
            }             
        }
        .col-25per{
            width: 25%;
            @include mobile{
                width: 80%;
                margin: 0px auto;
            }             
        }
        .col-30per{
            width: 30%;
            @include mobile{
                width: 80%;
                margin: 0px auto;
            }              
        }
        .col-38per{
            width: 38%;
            @include mobile{
                width: 80%;
                margin: 0px auto;
            }              
        }
        .col-60per{
            width: 65%;
            @include mobile{
                width: 80%;
                margin: 0px auto;
            }              
        }
    }
}