$light-grey: #ececec;
$wine-red: #A73030;

@mixin xl-desk {
    @media (min-width: 1460px){
        @content;
    }
}

@mixin l-desk {
    @media (min-width: 1368px) and (max-width: 1459px){
        @content;
    }
}

@mixin m-desk {
    @media (min-width: 1281px) and (max-width: 1367px){
        @content;
    }
}

@mixin sm-desk {
    @media (min-width: 1025px) and (max-width: 1280px)  {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 641px) and (max-width: 1024px){
        @content;
    }
}

@mixin mobile {
    @media (min-width: 300px) and (max-width: 1024px){
        @content;
    }
}
@mixin smobile {
    @media (max-width: 320px){
        @content;
    }
}
.mobile-burger {
    &.grey-burger {
        position: fixed;
        background: url('../images/icons/black-burger.svg');
    }
}
.radiator-container {
    position: absolute;
    width: 100%;
    height: 100%;
    .big-cont {
        position: relative;
        margin: 0 auto;
        @include xl-desk {
            width: 1460px;
        }
        @include l-desk {
            width: 1368px;
        }
        @include m-desk {
            width: 1281px;
        }
        @include sm-desk {
            width: 1025px;
        }
        @include mobile {
            width: 300px;
        }
        @include tablet {
            width: 641px;
        }
    }
    .scheme {
        background-image: url("../../static/images/grey-scheme.png");
        background-size: cover;
        opacity: 0.3;
        width: 770px;
        height: 480px;
        position: absolute;
        z-index: 100;
        @include mobile {
            display: none;
        }
        &.top-left {
            top: 0px;
            left: -140px;
        }
        &.top-right {
            right: -180px;
            @include xl-desk {
                top: 600px;
            }
            @include l-desk {
                top: 440px;
            }
            @include m-desk {
                top: 440px;
            }
            @include sm-desk {
                top: 430px;
            }
            @include mobile {
                display: none;
            }
            @include tablet {
                display: none;
            }
        }
        &.middle {
            left: -140px;
            @include xl-desk {
                top: 1560px;
            }
            @include l-desk {
                top: 1170px;
            }
            @include m-desk {
                top: 1150px;
            }
            @include sm-desk {
                top: 1100px;
            }
            @include mobile {
                top: 610px;   
            }
            @include tablet {
                top: 780px;
            }
        }
        &.bottom-rigth {
            right: -180px;
            @include xl-desk {
                top: 1920px;
            }
            @include l-desk {
                top: 1540px;
            }
            @include m-desk {
                top: 1640px;
            }
            @include sm-desk {
                top: 1600px;
            }
            @include mobile {
                display: none;
            }
            @include tablet {
                display: none;
            }
        }
        &.bottom-left {
            left: -140px;
            @include xl-desk {
                top: 2660px;
            }
            @include l-desk {
                top: 2120px;
            }
            @include m-desk {
                top: 2020px;
            }
            @include sm-desk {
                top: 1930px;
            }
            @include mobile {
                top: 1280px;
            }
            @include tablet {
                top: 1440px;
            }
        }
    }
    .cont {
        width: 1450px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 120px;
        // align-items: center;
        @include l-desk {
            width: 1300px;
        }
        @include m-desk {
            width: 1200px;
        }
        @include sm-desk {
            width: 1000px;
        }
        @include mobile {
            width: 300px; 
        }
        @include mobile {
            width: 300px;
        }
        @include tablet {
            width: 600px;
        }
        .card {
            margin-top: 100px;
            @include mobile {
                margin-top: 40px;
            }
            &.last {
                z-index: 200;
            }
            .title {
                margin: 0;
                padding: 0;
                color: #A73030;
                font-size: 50px;
                line-height: 64px;
                font-family: 'days-one';
                text-align: center;
                @include l-desk {
                    font-size: 62px;
                }
                @include m-desk {
                    font-size: 58px;
                }
                @include sm-desk {
                    font-size: 54px;
                }
                @include mobile {
                    font-size: 30px;
                }
                @include tablet {
                    font-size: 38px;
                }
            }
            .red {
                width: 100%;
                height: 730px;
                background-color: $wine-red;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 50px; 
                @include l-desk {
                    height: 500px;
                }
                @include m-desk {
                    height: 460px;
                }
                @include sm-desk {
                    height: 430px;
                }
                @include mobile {
                    height: 560px;
                    margin-top: 0px; 
                }
                @include tablet {
                    height: 380px;
                }
                .text {
                    width: 1000px;
                    z-index: 200;
                    @include l-desk {
                        width: 950px;
                    }
                    @include m-desk {
                        width: 900px;
                    }
                    @include sm-desk {
                        width: 780px;
                    }
                    @include mobile {
                        width: 240px;
                    }
                    @include tablet {
                        width: 480px;
                    }
                    .item {
                        margin: 0;
                        padding: 0;
                        font-family: 'myriad';
                        font-size: 30px;
                        line-height: 36px;
                        color: #FFFFFF;
                        @include l-desk {
                            font-size: 20px;
                            line-height: 30px;
                        }
                        @include m-desk {
                            font-size: 18px;
                            line-height: 25px;
                        }
                        @include sm-desk {
                            font-size: 16px;
                            line-height: 24px;
                        }
                        @include mobile {
                            font-size: 14px;
                            line-height: 18px;
                        }
                        @include tablet {
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                }
            }
            .photos {
                width: 90%;
                height: 640px;
                margin: 0 auto;
                margin-top: 70px;
                @include l-desk {
                    height: 530px;        
                }
                @include m-desk {
                    height: 520px;        
                }
                @include sm-desk {
                    height: 490px;        
                }
                @include mobile {
                    height: 380px;
                    margin: 20px auto 0;
                }
                @include tablet {
                    height: 520px;
                    margin: 30px auto 0;
                }
                .photo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        z-index: 200;
                        width: 440px;
                        height: 600px;
                        @include l-desk {
                            width: 390px;
                            height: 530px;
                        }
                        @include m-desk {
                            width: 380px;
                            height: 520px;
                        }
                        @include sm-desk {
                            width: 360px;
                            height: 490px;
                        }
                        @include mobile {
                            width: 300px;
                            height: auto;
                        }
                        @include tablet {
                            width: 390px;
                            height: auto;
                        }
                    }
                }
                .slick-list {
                    z-index: 200;
                }
            }
            .slider-nav {
                height: 120px;
                width: 660px;
                margin: 30px auto 0px;
                @include mobile {
                    width: 300px;
                }
                @include tablet {
                    width: 600px;
                }
                button {
                    display: none !important; 
                }
                .slick-list {
                    width: 100%;
                    padding: 0px !important;
                    z-index: 200;
                }
                .slick-track {
                    display: flex;
                    justify-content: space-around;
                }
                .photo {
                    z-index: 200;
                    // width: 100px !important;
                    height: 100px;
                    background-size: cover;
                    margin: 0px 10px;
                    @include mobile {
                        height: 55px;
                    }
                    &.s1 {
                        background-image: url("../../static/images/radiators/s1.jpg");
                        width: 130px !important;
                        height: 100px;
                    }
                    &.s2 {
                        background-image: url("../../static/images/radiators/s2.jpg");
                        width: 130px !important;
                        height: 100px;
                    }
                    &.s3 {
                        background-image: url("../../static/images/radiators/s3.jpg");
                        width: 130px !important;
                        height: 100px;
                    }
                    &.s4 {
                        background-image: url("../../static/images/radiators/s4.jpg");
                        width: 130px !important;
                        height: 100px;
                    }  
                }
            }
            .video {
                width: 100%;
                height: 815px;
                margin-top: 70px; 
                z-index: 200;
                @include l-desk {
                    height: 680px;
                    margin: 0 auto;
                }
                @include m-desk {
                    height: 630px;
                    margin: 20px auto 0;
                }
                @include sm-desk {
                    height: 580px;
                    margin: 20px auto 0;
                }
                @include mobile {
                    height: 200px;
                    margin: 15px auto 0;
                }
                @include tablet {
                    height: 400px;
                    margin: 20px auto 0;
                }
            }
            &.table {
                z-index: 2000;
                .title {
                    line-height: 40px;
                }
                @include mobile {
                    overflow-x: auto;
                }
            }
            table {
                width: 1450px;
                height: 660px;
                border: 1px solid;
                font-family: 'myriad';
                text-align: center;
                margin-top: 40px;
                background: #FFFFFF;
                @include l-desk {
                    width: 1300px;
                    height: 660px;
                }
                @include m-desk {
                    width: 1200px;
                    height: 550px;
                }
                @include sm-desk {
                    width: 1000px;
                    height: 440px;
                }
                @include mobile {
                    width: 900px;
                    height: 330px;
                }
                tr {
                    width: 100%;
                    height: 50px;
                    @include l-desk {
                        height: 60px;
                    }
                    @include m-desk {
                        height: 50px;
                    }
                    @include sm-desk {
                        height: 40px;
                    }
                    @include mobile {
                        height: 30px;
                    }
                }
                th {
                    width: 33%;
                    font-size: 30px;
                    padding: 0px 15px;
                    @include l-desk {
                        font-size: 26px;
                    }
                    @include m-desk {
                        width: 400px;
                        font-size: 24px;
                    }
                    @include sm-desk {
                        font-size: 22px;
                    }
                    @include mobile {
                        width: 300px;
                        font-size: 20px;
                    }
                }
                td {
                    font-size: 24px;
                    @include l-desk {
                        font-size: 22px;
                    }
                    @include m-desk {
                        font-size: 20px;
                    }
                    @include sm-desk {
                        font-size: 18px;
                    }
                    @include mobile {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
