{% extends "base.html" %}

{% block content %}
  <div class="navbar">
    <a href="/">
        <div class="nav-el">
            Главная
        </div>
    </a>

    <a href="/radiators">
        <div class="nav-el">
            Радиаторы
        </div>
    </a>

    <a href="/profiles">
        <div class="nav-el">
            Профили
        </div>
    </a>

    <a href="/catalog">
        <div class="nav-el">
            Каталог
        </div>
    </a>

    <a href="/contacts">
        <div class="nav-el">
            Контакты
        </div>
    </a>
  </div>

  <div class="mobile-burger grey-burger"></div>
  <div class="mobile-sidebar">
    <div class="mobile-burger grey-burger"></div>
    <div class="links-container">
        <div class="side-el">
            <a href="/">
                <div class="side-text-black">
                    Главная
                </div> 
            </a>
        </div>

        <div class="side-el">
            <a href="/radiators">
                <div class="side-text-black">Радиаторы</div> 
            </a>
        </div>

        <div class="side-el">
            <a href="/profiles">
                <div class="side-text-black">Профили</div> 
            </a>
        </div>

        <div class="side-el">
            <a href="/catalog">
                <div class="side-text-black">
                    Каталог
                </div>
            </a>
        </div>

        <div class="side-el">
            <a href="/contacts">
                <div class="side-text-black">
                    Контакты
                </div>
            </a>
        </div>
    </div>
  </div>


  <div class="radiator-container" id="lock-position">
    <div class="big-cont">
        <div class="cont">
          <div class="card">
            <h2 class="r-title">Полновесные Алюминиевые радиаторы SOLUR PREMIUM А-500</h2>

            <p class="r-text">
              Полновесные Радиаторы "SOLUR PREMIUM" разработаны итальянскими специалистами с учетом накопленного опыта эксплуатации в системах отопления и современных требований к энергосбережению и комфортному теплу. Идеально подходят для использования в закрытых системах отопления жилых, общественных и промышленных помещений, индивидуальных домов, коттеджей, гаражей
            </p>

            <p class="r-text">
              Радиаторы "SOLUR PREMIUM" это итальянские технологические решения. Главное преимущество алюминиевых радиаторов отопления - высокая теплоотдача. Алюминий - отличный проводник тепла, благодаря чему одна батарея способна обогреть обширное помещение. Есть у этих радиаторов и другие особенности:
            </p>

            <ul>
              <li>
                Эстетичность. Радиаторы отлично впишутся в интерьер частного дома или роскошной городской квартиры, не потребуют установки экранов.
              </li>

              <li>
                Продуманный дизайн. Идеально подходит для установки под подоконниками и в нишах: благодаря специально разработанному дизайну радиатор объединяет приятный эстетический вид с конструкцией, обеспечивающей максимальные конвективные потоки воздуха.
              </li>

              <li>
                Увеличенное круглое сечение вертикального канала секции алюминиевого радиатора делает прибор прочным, пригодным к работе при загрязненном теплоносителе, эффективным в гравитационных системах отопления с естественной циркуляцией теплоносителя, способным не только передавать, но и аккумулировать тепло
              </li>
            </ul>

            <div class="card-img">
              <img src="/static/images/aluminium/al-10.jpeg">
            </div>

            <div class="card-img">
              <img src="/static/images/aluminium/al-01.jpeg">
            </div>

            <div class="card-img">
              <img src="/static/images/aluminium/al-09.jpeg">
            </div>

            <div class="card-img">
              <img src="/static/images/aluminium/al-03.jpeg">
            </div>
            
            <div class="card-img">
              <img src="/static/images/aluminium/al-05.jpeg">
            </div>

            <p class="r-text">
              В алюминиевых радиаторах "SOLUR PREMIUM" использована итальянская технология "запрессованное дно".
            </p>
       
            <p class="r-text">
              Это новая технология, разработанная итальянскими инженерами и дизайнерами, полностью лишена недостатков «сварного дна». Принцип данной технологии состоит в том, что на нижнюю часть коллектора секции радиатора, выполненного в виде специально разработанной формы, одевается и затем закрепляется методом обжимки донная крышка. Крышка изготовлена из качественной стали с алюминиевым покрытием на всех поверхностях. Внутри крышки установлена цельная прокладка (мембрана) из специального устойчивого к температурам и агрессивным средам материала. Прокладка обеспечивает герметичность и коррозионную защиту соединения. Используются комплектующие только итальянского производства.
            </p>


            <div class="card-img">
              <img src="/static/images/aluminium/al-06.jpeg">
            </div>

            <p class="r-text">
              Сборка конструкции происходит на Итальянской автоматической линии с обеспечением постоянного усилия обжимки крышки. Конструкция после сборки прочная, герметичная, устойчивая к агрессивным средам, а внешний вид намного превосходит сварные аналоги.
            </p>

            <p class="r-text">
              В алюминиевых радиаторах "SOLUR PREMIUM" нет "сварного дна". "Сварное дно" - "узкое" место отопительного прибора из алюминия. Очень часто донная крышка приваривается к секции методом контактной сварки без применения защитной газовой атмосферы, что является причиной образования оксидных включений в сварочном шве, ухудшающих его прочность и герметичность. Некачественные сварочные швы подвержены коррозии, что является причиной возникновения течи в радиаторах. Кроме того, сварной шов даже после обработки выглядит грубо и не эстетично. Присмотритесь поближе к сомнительным сварным швам и отдайте предпочтение запатентованной итальянской технологии "запрессованное дно".
            </p>

            <div class="card-img">
              <img src="/static/images/aluminium/al-04.jpeg">
            </div>

            <p class="r-text">
              Универсальность. Использовать радиаторы можно со стальными, металлопластиковыми или полимерными трубопроводами. Протечки и другие проблемы исключены.
            </p>

            <p class="r-text">
              Секционная структура. Каждый элемент крепится друг к другу при помощи ниппелей с использованием специальных прокладок
            </p>

            <div class="card-img">
              <img src="/static/images/aluminium/al-07.jpeg">
            </div>

            <p class="r-text">
              Радиатор можно уменьшить или увеличить, добавив несколько секций, сделав систему отопления максимально эффективной и экономичной
            </p>

            <p class="r-text">
              Алюминиевые радиаторы - отличный выбор для автономных отопительных систем. Они успешно работают с теплоносителем температурой до 135°С.Рабочее давление радиатора до 20 атмосфер.
            </p>

            <h2 class="r-title">
              Технические характеристики секции SOLUR PREMIUM A-500
            </h2>


            <div class="card-img">
              <img src="/static/images/aluminium/al-08.png">
            </div>

            <p class="r-text">
              Максимальные показатели теплоотдачи возможны только при правильной установке.
            </p>

            <h2 class="r-title">
              Как создают алюминиевые радиаторы
            </h2>

            <p class="r-text">
              Радиаторы "SOLUR PREMIUM" сертифицированы на территории России. Радиаторы соответствуют требованиям ГОСТ 31311-2005. Радиаторы регулярно проходят тестирование в НИИ Сантехники.
            </p>

            <div class="r-text">
              Производитель использует следующие решения в производстве:
            </div>

            <ul>
              <li>
                Разработка конструкции радиатора производится итальянскими конструкторами.
              </li>

              <li>
                Проектирование и изготовление пресс-форм производится итальянской фирмой - признанным лидером в этой области.
              </li>

              <li>
                Отливка секций радиаторов осуществляется на современном автоматизированном производственном комплексе.
              </li>

              <li>
                Механическая обработка, сборка и первичная проверка на герметичность производится при помощи автоматической линии.
              </li>

              <li>
                Многоступенчатая подготовка поверхности от травления и пассивации на основе титана.
              </li>

              <li>
                Двухэтапная покраска.
              </li>

              <li>
                1 этап: погружение в анафорезную покрасочную ванну и нанесение высококачественной краски, производства Германии, под разными потенциалами, далее производится полимеризация в печи.
              </li>

              <li>
                2 этап: Напыление порошкового слоя краски, с последующей полимеризацией в печи.
              </li>

              <li>
                Проверка качества каждого изделия поэтапно.
              </li>
            </ul>

            <p class="r-text">
              Тщательный контроль на каждом этапе разработки и изготовления исключает брак и обеспечивает эффективную работу радиатора.
            </p>

            <p class="r-text">
              Контроль - многоэтапный:
            </p>

            <ul>
              <li>
                Сырье, и комплектующие, поступающие в цеха, проходят входной контроль, включая анализ в лаборатории.
              </li>

              <li>
                Производится контроль всех необходимых технологических параметров производства.
              </li>
              
              <li>
                Мониторинг отдельных производственных процессов помогает отсеивать любой брак до выпуска продукции.
              </li>
              
              <li>
                Все данные о выявленных проблемах хранятся в единой базе, что позволяет совершенствовать производство.
              </li>
            </ul>

            <p class="r-text">
              Готовую продукцию проверяют в несколько этапов, в том числе, на герметичность.
            </p>

            <h2 class="r-title">
              Гарантии производителя
            </h2>

            <p class="r-text">
              Алюминиевые радиаторы " SOLUR PREMIUM " служат, как минимум, 20 лет - при правильном монтаже и соблюдении требований и рекомендаций. Компания предоставляет гарантию, действующую в течение первых 10 лет с момента покупки. Вы сможете воспользоваться ей в случае, если будут обнаружены проблемы, возникшие по вине изготовителя. Радиаторы отопления " SOLUR PREMIUM " - разумный выбор для квартиры и любого другого жилого помещения.
            </p>

            <p class="r-text">
              Помните: радиаторы - это прибор, работающий под давлением! Стоимость испорченного ремонта значительно превышает расходы на покупку качественных радиаторов SOLUR по демократичным ценам.
            </p>
          </div>
        </div>
    </div>
  </div>

{% endblock %}
