<html>
    <head>
        <title>{{ title }}</title>

        <!-- Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128893108-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-128893108-1');
        </script>    
        <!-- End Google Analytics -->


        <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/flex.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/slick-theme.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0, initial-scale=1.0, user-scalable=no">


        <meta property="og:title" content="Solur - Завод алюминиевых профилей" />
        <meta property="og:url" content="http://solur-russia.ru" />
        <!-- <meta property="og:image" content="static/images/open.png" /> -->

        <meta name='wmail-verification' content='ecba4be9dcfdfa673acce2358e39a3a1' />
        <meta name="yandex-verification" content="2d6cf41bba3300aa" />
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
        <meta name="description" content="Завод алюминиевых профилей SOLUR - производитель экструзионных профилей различного назначения из алюминиевых сплавов. Завод специализируется на производстве алюминиевого профиля методом экструзии, окраске и продаже алюминиевого профиля для различных отраслей промышленности. Предприятие оснащено современным импортным оборудованием, позволяющим удовлетворить растущий спрос на сложные, высокоточные, строительноархитектурные профили, а также на профили, изготавливаемые по чертежам Заказчика">
        <meta name="keywords" content="Солур, Solur, solyr, Солур Россиия, Солюр, профиль алюминий, алюминиевый завод, профиль, алюминиевый профиль оптом, экструзия профиля, производство профиля, производство профиля в России ">
        

    </head>
    <body class="lock-position">
        <!-- {% if lang == 'ru' %}
            <a class="change-lang"
                href="/en{{ curr_url }}"
            >
                <div class="text">EN</div>
            </a>
        {% else %}
            <a class="change-lang"
                href="/ru{{ curr_url }}"
            >
                <div class="text">RU</div>
            </a>
        {% endif %} -->
        {% block content %}{% endblock %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/lazyload.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/charming.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/actions.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/gallery-slider.component.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/radiators.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='static/js/lazy.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/image-cont.component.js') }}"></script>

    </body>
</html>




