{% extends "base.html" %}

{% block content %}

<div class="navbar">
  <a href="/">
      <div class="nav-el">
          Главная
      </div>
  </a>

  <a href="/radiators">
      <div class="nav-el">
          Радиаторы
      </div>
  </a>

  <a href="/profiles">
      <div class="nav-el">
          Профили
      </div>
  </a>

  <a href="/catalog">
      <div class="nav-el">
          Каталог
      </div>
  </a>

  <a href="/contacts">
      <div class="nav-el">
          Контакты
      </div>
  </a>
</div>

<div class="mobile-burger grey-burger"></div>
<div class="mobile-sidebar">
  <div class="mobile-burger grey-burger"></div>
  <div class="links-container">
      <div class="side-el">
          <a href="/">
              <div class="side-text-black">
                  Главная
              </div> 
          </a>
      </div>

      <div class="side-el">
          <a href="/radiators">
              <div class="side-text-black">Радиаторы</div> 
          </a>
      </div>

      <div class="side-el">
          <a href="/profiles">
              <div class="side-text-black">Профили</div> 
          </a>
      </div>

      <div class="side-el">
          <a href="/catalog">
              <div class="side-text-black">
                  Каталог
              </div>
          </a>
      </div>

      <div class="side-el">
          <a href="/contacts">
              <div class="side-text-black">
                  Контакты
              </div>
          </a>
      </div>
  </div>
</div>


<div class="radiator-container" id="lock-position">
  <div class="big-cont">
      <div class="cont">
        <div class="card">
          <h2 class="r-title">Полновесные Биметаллические радиаторы SOLUR PRESTIGE B-500</h2>
        
          <p class="r-text">
            Полновесные Биметаллические радиаторы "SOLUR PRESTIGE" разработаны итальянскими специалистами с учетом накопленного опыта эксплуатации в системах отопления и современных требований к энергосбережению и комфортному теплу. Идеально подходят для использования в закрытых системах отопления жилых, общественных и промышленных помещений, индивидуальных домов, коттеджей, гаражей. Благодаря использованию в конструкции цельных стальных вставок, выдерживающих перепады давления, биметаллические радиаторы идеально подходят для централизованного отопления в многоквартирных домах.
          </p>

          <p class="r-text">
            Биметаллические отопительные радиаторы - оптимальное решение для любой городской квартиры, индивидуальных домов, общественных и промышленных объектов:
          </p>

          <ul>
            <li>
              они выдерживают перепады давления и гидравлические удары, свойственные централизованным системам отопления;
            </li>

            <li>
              имеют эстетичный внешний вид;
            </li>

            <li>
              только полный биметалл - в конструкции присутствует герметичный стальной каркас в виде Н-образной закладной детали, с высокой коррозионной стойкостью.
            </li>

            <li>
              не имеют в конструкции ненадежных полубиметаллических моделей.
            </li>
          </ul>

          <p class="r-text">
            Радиаторы "SOLUR PRESTIGE" - это итальянские технологические решения. Каналы наших радиаторов, по которым проходит теплоноситель, выполнены стальными трубками с высокой коррозионной стойкостью. Единый, герметичный стальной каркас успешно выдерживает гидравлические удары. При изготовлении секции радиатора, цельная Н-образная закладная деталь заливается алюминием в пресс-форме. Такая конструкция биметаллических радиаторов позволяет равномерно распределять тепло, следствием чего является высокая теплоотдача прибора. Для производства биметаллических радиаторов отопления важна вставка из прецезионной стальной трубы.
          </p>

          <div class="card last card-video">
              <iframe class="video" src="https://www.youtube.com/embed/lhS-a_xZ8o8" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>

                
          <p class="r-text">
            Радиаторы "SOLUR PRESTIGE" несут в себе все преимущества алюминиевых и стальных радиаторов в одном приборе. Алюминий хорошо проводит тепло, а сталь выдерживает высокое давление. Специально разработанный дизайн объединяет приятный эстетичный вид с конструкцией, обеспечивающей максимальные конвективные потоки воздуха.
          </p>

          <div class="card-img card-tune">
            <img src="/static/images/bimetal/tune.jpeg">
          </div>


          <h2 class="r-title">Радиаторы "SOLUR PRESTIGE":</h2>
          
          <ul>
            <li>
              Не подвержены коррозии. С теплоносителем контактирует только сталь с антикоррозионными свойствами.
            </li>

            <li>
              Отдают практически все тепло воздуху в помещении.
            </li>
              
            <li>
              Быстро реагируют на изменение температуры теплоносителя.
            </li>

            <li>
              Выдерживают значительные перепады давления. Рабочее давление - до 30 атмосфер.
            </li>
              
            <li>
              Полновесный радиатор "SOLUR PRESTIGE" выглядит эстетично и впишется в любой дизайн-проект.
            </li>
          </ul>

          <p class="r-text">
            Радиаторы "SOLUR PRESTIGE" универсальны и отлично подходят для квартир с централизованным отоплением, где они в полной мере раскрывают свои технические характеристики, благодаря стойкости к гидроударам и высоким показателям теплоотдачи.
          </p>

          <h2 class="r-title">Как создают биметаллические радиаторы?</h2>

          <p class="r-text">
            Радиаторы "SOLUR PRESTIGE" сертифицированы на территории России. Радиаторы соответствуют требованиям ГОСТ 31311-2005. Радиаторы регулярно проходят тестирование в НИИ Сантехники.
          </p>

          <p class="r-text">
            Секрет отличного качества радиаторов "SOLUR PRESTIGE" заключается в применении итальянских технологий. Производитель использует следующие решения:
          </p>

          <ul>
            <li>Тщательная проверка качества исходных материалов и поэтапный контроль получения готового изделия.</li>

            <li>
              Использование внутренней стальной конструкции. Теплоноситель циркулирует по трубкам из стали. Сталь передает тепло алюминиевому покрытию, которое обеспечивает высокую теплоотдачу. Такая конструкция гарантирует прочность радиатору. Внешний дизайн обеспечивает максимальные конвективные потоки воздуха.
            </li>

            Секционная система сборки. Для сборки используют ниппели и специальные прокладки. Секционная система сборки позволяет сделать радиатор необходимой длины.

            <li>
              Многоступенчатая подготовка поверхности, травление и пассивация на основе титана.
            </li>

            <li>
              Двухэтапная покраска:

              <ul>
                <ol>
                  - <b>1 этап:</b> Нанесение первого слоя специальной краски производства фирмы «FreiLacke» (Германия) методом анафореза с последующей сушкой и полимеризацией.
                </ol>

                <ol>
                  - <b>2 этап:</b> Напыление порошкового слоя краски, с последующей полимеризацией в печи
                </ol>
              </ul>
            </li>
          </ul>

          <div class="card-img card-tune">
            <img src="/static/images/bimetal/tune-2.jpeg">
          </div>

          <p class="r-text">
            Продукция проходит регулярные испытания в лабораториях в России. Дизайн радиаторов "SOLUR PRESTIGE" разработан при условии обеспечения их долговечности при постоянном использовании, а также низком качестве теплоносителя и регулярных гидроударах.
          </p>

          <h2 class="r-title">
            Характеристики и особенности установки
          </h2>
        
          <p class="r-text">
            Радиаторы "SOLUR PRESTIGE" можно применять в любых отопительных системах при теплоносителе температурой до 135 градусов по Цельсию. Количество необходимых секций определяется в соответствие с тепловыми потерями помещения.
          </p>

          <p class="r-text">
            Технические характеристики секции радиатора "SOLUR PRESTIGE":
          </p>

          <div class="card-img card-tune">
            <img src="/static/images/bimetal/bimetal-table.png">
          </div>

          <p class="r-text">
            Максимальные показатели теплоотдачи возможны только при правильной установке.
          </p>


          <h2 class="r-title">
            Гарантии производителя
          </h2>
        
          <p class="r-text">
            Биметаллические радиаторы "SOLUR PRESTIGE" служат, как минимум, 20 лет - при правильном монтаже и соблюдении требований и рекомендаций. Компания предоставляет гарантию, действующую в течение первых 10 лет с момента покупки. Вы сможете воспользоваться ей в случае, если будут обнаружены проблемы, возникшие по вине изготовителя. Радиаторы отопления "SOLUR PRESTIGE" - разумный выбор для квартиры и любого другого жилого помещения.
          </p>

          <p class="r-text">
            <b>Помните:</b> радиаторы - это прибор, работающий под давлением! Стоимость испорченного ремонта значительно превышает расходы на покупку качественных радиаторов SOLUR по демократичным ценам.
          </p>
        </div>
      </div>
  </div>
</div>

{% endblock %}
