{% extends "base.html" %}

{% block content %}

    <div class="navbar">
        <a href="/">
            <div class="nav-el">
                Главная
            </div>
        </a>

        <a href="/radiators">
            <div class="nav-el">
                Радиаторы
            </div>
        </a>

        <a href="/profiles">
            <div class="nav-el">
                Профили
            </div>
        </a>

        <a href="/catalog">
            <div class="nav-el active">
                Каталог
            </div>
        </a>

        <a href="/contacts">
            <div class="nav-el">
                Контакты
            </div>
        </a>
    </div>

    <div class="mobile-burger grey-burger"></div>
    <div class="mobile-sidebar">
        <div class="mobile-burger grey-burger"></div>
        <div class="links-container">
            <div class="side-el">
                <a href="/">
                    <div class="side-text-black">
                        Главная
                    </div> 
                </a>
            </div>

            <div class="side-el">
                <a href="/radiators">
                    <div class="side-text-black">Радиаторы</div> 
                </a>
            </div>

            <div class="side-el">
                <a href="/profiles">
                    <div class="side-text-black">Профили</div> 
                </a>
            </div>

            <div class="side-el">
                <a href="/catalog">
                    <div class="side-text-black side-active">
                        Каталог
                    </div>
                </a>
            </div>

            <div class="side-el">
                <a href="/contacts">
                    <div class="side-text-black">
                        Контакты
                    </div>
                </a>
            </div>
        </div>
    </div>
    
    <div class="catalog-container" id="lock-position">
        <h2 class="r-title marg-r-title">
            {{ _('title_catalog') }}
        </h2>
        <div class="p-schema p-schema-1">
        </div>
        
        <div class="p-schema p-schema-2">
        </div>
        <div class="background">
            <div class="slider">
                <div class="slides">
                    <div class="slide">
                        <div class="left">
                            <div class="title">1. Москитный профиль</div>
                            <p class="first">Москитный профиль применяется для производства москитных сеток рамного типа, которые устанавливаются на окна с целью защиты помещения от проникновения насекомых, пуха, пыли и пр. Алюминиевый профиль является наиболее важным компонентом москитной сетки, ведь именно он служит основным элементом конструкции. Поэтому так важно выбрать качественный профиль от надежного производителя. Москитный профиль от завода СОЛУР - это качество, надежность, а самое главное, - выгодные цены и минимальные сроки поставки.</p>
                            <a class="button" href="/production">{{ _('list') }}</a>
                        </div>
                        <div class="right s1">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="left">
                            <div class="title">2. Профили для натяжных потолков</div>
                            <p class="first">Компания СОЛУР предлагает алюминиевые профили для монтажа натяжных потолков:</p> 
                            <p>2.1. По гарпунной технологии. Позволяет выполнить монтаж в очень короткие сроки, а при необходимости и произвести быстрый демонтаж полотна. За счет своей высокой жесткости профили обеспечивают надежность и долговечность крепления, хорошо держат угол при надрезе.</p>
                            <p>2.2. Для штапикового крепления позволяет корректировать натяжение пленки в процессе монтажа и не требуют высокой точности замеров. Основные виды профилей: П-образный алюминиевый профиль для штапиковой системы и H-образный алюминиевый профиль для гарпунной системы монтажа. Цены на все виды профилей Вы можете уточнить позвонив или отправив запрос по адресу, указанному в разделе контакты.</p>
                            <a class="button" href="/production">{{ _('list') }}</a>
                        </div>
                        <div class="right s2">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="left">
                            <div class="title">3. Общестроительный профиль (уголок, труба, полоса, швеллер, бокс и т.д.)</div>
                            <p class="third">Одним из направлений компании «СОЛУР», является производство стандартных алюминиевых профилей общего назначения.</p> 
                            <p>Это универсальные профили, которые используются в различных отраслях промышленности.</p> 
                            <p>К стандартному профилю принято относить:</p> 
                            <p>- Уголки размеров от 15 до 60 мм;</p> 
                            <p>- Швеллеры размеров от 10х10х1,5 до 100х50х5 мм;</p>
                            <p>- Круглые трубы размеров от 10х2 до 80х15 мм;</p> 
                            <p>- Прямоугольные трубы размеров от 15х15х1,5 до 100х40х4 мм;</p> 
                            <p>- Шины электротехнические размеров от 20х3 до 210х22,5 мм;</p>
                            <p>- Тавры размерами от 25х48х2х2 до 185х100х10х15 мм.</p>
                            <a class="button" href="/production">{{ _('list') }}</a>
                        </div>
                        <div class="right s3">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="left">
                            <div class="title">4. Профили-пороги для напольных покрытий</div>
                            <p class="first">Если бы 20 лет назад в стране продавались порожки алюминиевые, многим бы не пришлось находить альтернативные варианты декорирования мест соединения напольного покрытия. Главная задача алюминиевых порожков – скрыть стык в местах соединения напольного покрытия. С этой задачей на «отлично» справляются порожки алюминиевые. Алюминиевый профиль, используемый для порожков, позволяет соединять в гармоничное целое как равно уровневые, так и разно уровневые плоскости помещений.</p>
                            <a class="button" href="/production">{{ _('list') }}</a>
                        </div>
                        <div class="right s4">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="left">
                            <div class="title">5. Балконный профиль Provedal</div>
                            <p class="first">Профильные системы Provedal позволяют создавать недорогие конструкции для «холодного» остекления балконов и лоджий, террас и веранд, беседок и оранжерей. Используются в качестве внутренних перегородок при зонировании жилых и офисных интерьеров. В линейке системы Provedal есть профили с поворотными (Provedal-Р400) и раздвижными (Provedal-С640). Благодаря своей универсальности, низкой цене и надежности Provedal пользуется высоким спросом на рынке светопрозрачных конструкций.</p>
                            <a class="button" href="/production">{{ _('list') }}</a>
                        </div>
                        <div class="right s5">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="left">
                            <div class="title">6. Профили для торгово-выставочного оборудования</div>
                            <p class="first">Данное изделие отличается следующими конкурентными преимуществами, обеспечивающими удобство в его эксплуатации:</p>
                            <p>- Высокая прочность и неподверженность деформирующим нагрузкам;</p>
                            <p>- Стойкость к коррозии, химическая инертность;</p>
                            <p>- Длительный срок службы;</p>
                            <p>- Легкий вес;</p>
                            <p>- Простота и оперативность обработки и сборки;</p>
                            <p>- Аккуратный и презентабельный внешний вид.</p>
                            <a class="button" href="/production">{{ _('list') }}</a>
                        </div>
                        <div class="right s6">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="left">
                            <div class="title">7. Профили для СПК</div>
                            <p class="first">Профили для свето-прозрачных конструкций-прочные, легкие, и долговечные изготавливаются на современном высокотехнологичном оборудовании. Они используются при строительстве торгово-развлекательных комплексов, офисных центров, автосалонов, банков, отелей и прочих сооружений.</p>
                            <a class="button" href="/production">{{ _('list') }}</a>
                        </div>
                        <div class="right s7">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="left">
                            <div class="title eighth">8. Профили электротехнического назначения («гребенка»)</div>
                            <p class="first">Радиаторы(охладители) предназначены для отвода тепла, выделяемого силовыми приборами в охлаждающую среду в электротехнических и радиотехнических устройствах.</p>
                            <a class="button" href="/production">{{ _('list') }}</a>
                        </div>
                        <div class="right s8">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="left">
                            <div class="title">9. Радиаторы</div>
                            <p class="first">Радиаторы- обладая высокой теплоотдачей и небольшим весом, отопительные радиаторы прекрасно подходят для обогрева помещений. Высокотехнологичная линия порошковой покраски гарантирует качественность и долговечность покрытия.</p>
                            <p>Готовые радиаторы упаковываются в термопленку, благодаря чему изделия сохраняют первоначальный вид после транспортировки и монтажа. На всех этапах производства осуществляется строгий контроль качества.</p>
                            <a class="button" href="/radiators">{{ _('list') }}</a>
                        </div>
                        <div class="right s9">
                            <div class="img"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="slider">
                <div class="slides">
                    <div class="slide">
                        <div class="left">
                            <div class="title">
                                {{ _('title_cat_slide_1') }}
                            </div>
                            <p class="first">
                            </p>
                            <a class="button" href="/production">{{ _('list') }}</a>
                        </div>
                        <div class="right s1">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="left">
                            <div class="title">
                                {{ _('title_cat_slide_2') }}
                            </div>
                            <p class="first">
                                {{ _('p_1_catalog_slide_2') }}
                            </p> 
                            <p>
                                {{ _('p_2_1_catalog_slide_2') }}
                            </p>
                            <p>
                                {{ _('p_2_2_catalog_slide_2') }}
                            </p>
                            <a class="button" href="/production">
                                {{ _('list') }}
                            </a>
                        </div>
                        <div class="right s2">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="left">
                            <div class="title">
                                {{ _('title_cat_slide_3') }}
                            </div>
                            <p class="third">
                                {{ _('p_1_catalog_slide_3') }}
                            </p> 
                            <p>
                                {{ _('p_2_catalog_slide_3') }}
                            </p> 
                            <p>
                                {{ _('p_3_catalog_slide_3') }}
                            </p> 
                            <p>
                                {{ _('p_4_catalog_slide_3') }}
                            </p>
                            <p>
                                {{ _('p_5_catalog_slide_3') }}
                            </p> 
                            <p>
                                {{ _('p_6_catalog_slide_3') }}
                            </p> 
                            <p>
                                {{ _('p_7_catalog_slide_3') }}
                            </p>
                            <p>
                                {{ _('p_8_catalog_slide_3') }}
                            </p>
                            <p>
                                {{ _('p_9_catalog_slide_3') }}
                            </p>
                            <a class="button" href="/production">
                                {{ _('list') }}
                            </a>
                        </div>
                        <div class="right s3">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="left">
                            <div class="title">
                                {{ _('title_cat_slide_4') }}
                            </div>
                            <p class="first">
                                {{ _('p_1_catalog_slide_4') }}
                            </p>
                            <a class="button" href="/production">
                                {{ _('list') }}
                            </a>
                        </div>
                        <div class="right s4">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="left">
                            <div class="title">
                                {{ _('title_cat_slide_5') }}
                            </div>
                            <p class="first">
                                {{ _('p_1_catalog_slide_5') }}
                            </p>
                            <a class="button" href="/production">
                                {{ _('list') }}
                            </a>
                        </div>
                        <div class="right s5">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="left">
                            <div class="title">
                                {{ _('title_cat_slide_6') }}
                            </div>
                            <p class="first">
                                {{ _('p_1_catalog_slide_6') }}
                            </p>
                            <p>
                                {{ _('p_2_catalog_slide_6') }}
                            </p>
                            <p>
                                {{ _('p_3_catalog_slide_6') }}
                            </p>
                            <p>
                                {{ _('p_4_catalog_slide_6') }}
                            </p>
                            <p>
                                {{ _('p_5_catalog_slide_6') }}
                            </p>
                            <p>
                                {{ _('p_6_catalog_slide_6') }}
                            </p>
                            <p>
                                {{ _('p_7_catalog_slide_6') }}
                            </p>
                            <a class="button" href="/production">
                                {{ _('list') }}
                            </a>
                        </div>
                        <div class="right s6">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="left">
                            <div class="title">
                                {{ _('title_cat_slide_7') }}
                            </div>
                            <p class="first">
                                {{ _('p_1_catalog_slide_7') }}
                            </p>
                            <a class="button" href="/production">
                                {{ _('list') }}
                            </a>
                        </div>
                        <div class="right s7">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="left">
                            <div class="title eighth">
                                {{ _('title_cat_slide_8') }}
                            </div>
                            <p class="first">
                                {{ _('p_1_catalog_slide_8') }}
                            </p>
                            <a class="button" href="/production">
                                {{ _('list') }}
                            </a>
                        </div>
                        <div class="right s8">
                        </div>
                    </div>
                    <div class="slide">
                        <div class="left">
                            <div class="title">
                                {{ _('title_cat_slide_9') }}
                            </div>
                            <p class="first">
                                {{ _('p_1_catalog_slide_9') }}
                            </p>
                            <p>
                                {{ _('p_2_catalog_slide_9') }}
                            </p>
                            <a class="button" href="/radiators">
                                {{ _('list') }}
                            </a>
                        </div>
                        <div class="right s9">
                            <div class="img"></div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div> 
{% endblock %}
