{% extends "base.html" %}

{% block content %}
    <div class="load-container loadprocess">
        <div class="logo"></div>
        
        <div class="load-box">
            <div class="text-cont loadtext">LOADING</div>
            <div class="line">
                <div class="peace"></div>
            </div>    
        </div>


        <div class="scheme-1"></div>
        <div class="scheme-2"></div>
    </div>


    <div class="navbar">
        <a href="/">
            <div class="nav-el">
                Главная
            </div>
        </a>

        <a href="/radiators">
            <div class="nav-el">
                Радиаторы
            </div>
        </a>

        <a href="/profiles">
            <div class="nav-el">
                Профили
            </div>
        </a>

        <a href="/catalog">
            <div class="nav-el">
                Каталог
            </div>
        </a>

        <a href="/contacts">
          <div class="nav-el active">
              Контакты
          </div>
        </a>
    </div>

    <div class="mobile-burger grey-burger"></div>
    <div class="mobile-sidebar">
        <div class="mobile-burger grey-burger"></div>
        <div class="links-container">
            <div class="side-el">
                <a href="/">
                    <div class="side-text-black">
                        Главная
                    </div> 
                </a>
            </div>

            <div class="side-el">
                <a href="/radiators">
                    <div class="side-text-black">Радиаторы</div> 
                </a>
            </div>

            <div class="side-el">
                <a href="/profiles">
                    <div class="side-text-black">Профили</div> 
                </a>
            </div>

            <div class="side-el">
                <a href="/catalog">
                    <div class="side-text-black">
                        Каталог
                    </div>
                </a>
            </div>

            <div class="side-el">
                <a href="/contacts">
                    <div class="side-text-black side-active">
                        Контакты
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- <div class="text-el">
        <div class="icon icon-phone"></div>
        <div class="text"><a href="tel:898583367163">+7(985)833-67-163</a></div>
    </div> -->

    <div class="main-container" id="lock-position">
        <div class="contacts-cont" id="eighth">
            <div class="cover">
                <img src="static/images/contacts-cover.png" alt="contacts">
            </div>
            <div class="logo"></div>
            
            <div class="contacts-box">
                <div class="title">{{ _('title_contacts') }}</div>

                <div class="text-el">
                    <div class="icon icon-mail"></div>
                    <div class="text">info@solur-russia.ru</div>
                </div>
                <div class="text-el">
                    <div class="icon icon-location"></div>
                    <div class="text">{{ _('text_adress') }}</div>
                </div>                                
            </div>

            <div class="top-scheme"></div>
            <div class="bottom-scheme"></div>
        </div>
    </div>



{% endblock %}