{% extends "base.html" %}

{% block content %}
     <div class="load-container loadprocess">
        <div class="logo"></div>
        
        <div class="load-box">
            <div class="text-cont loadtext">LOADING</div>
            <div class="line">
                <div class="peace"></div>
            </div>    
        </div>


        <div class="scheme-1"></div>
        <div class="scheme-2"></div>
    </div>

    <!-- <div class="technical-support-cont">
        <div class="logo"></div>

        <p class="sup-text">
            Извините, сайт временно недоступен. Ведутся технические работы.
        </p>
    </div> -->

    <div class="navbar">
        <a href="/">
            <div class="nav-el active">
                Главная
            </div>
        </a>

        <a href="/radiators">
            <div class="nav-el">
                Радиаторы
            </div>
        </a>

        <a href="/profiles">
            <div class="nav-el">
                Профили
            </div>
        </a>

        <a href="/catalog">
            <div class="nav-el">
                Каталог
            </div>
        </a>

        <a href="/contacts">
            <div class="nav-el">
                Контакты
            </div>
        </a>
    </div>

    <div class="mobile-burger grey-burger"></div>
    <div class="mobile-sidebar">
        <div class="mobile-burger grey-burger"></div>
        <div class="links-container">
            <div class="side-el">
                <a href="/">
                    <div class="side-text-black side-active">
                        Главная
                    </div> 
                </a>
            </div>

            <div class="side-el">
                <a href="/radiators">
                    <div class="side-text-black">Радиаторы</div> 
                </a>
            </div>

            <div class="side-el">
                <a href="/profiles">
                    <div class="side-text-black">Профили</div> 
                </a>
            </div>

            <div class="side-el">
                <a href="/catalog">
                    <div class="side-text-black">
                        Каталог
                    </div>
                </a>
            </div>

            <div class="side-el">
                <a href="/contacts">
                    <div class="side-text-black">
                        Контакты
                    </div>
                </a>
            </div>
        </div>
    </div>


    <div class="main-container" id="lock-position">
        <div class="factory" id="first">
            <div class="cover-00"></div>
            <div class="cover-01"></div>
            <div class="cover-02"></div>
            <div class="cover-03"></div>
            <div class="logo-cont">
                <div class="logo"></div>
                <div class="logo-text">SOLUR</div>
            </div>

            <div class="text-cont-new">
                <div class="first-text">
                    <!-- Завод алюминиевых профилей SOLUR - производитель экструзионных профилей различного назначения из алюминиевых сплавов. -->
                    Solur - Алюминиевый завод
                </div>


                <div class="main-link-cont">
                    <div class="main-link">
                        <a href="/radiators">
                            Узнать подробнее о наших радиаторах →
                        </a>
                    </div>
    
                    <div class="main-link">
                        <a href="/profiles">
                            Узнать подробнее о наших профилях →
                        </a>
                    </div>
                </div>
                <!-- <div class="next-button down">{{ _('more') }}</div> -->
            </div>

            <div class="blur"></div>
            <div class="shadow"></div>

            <div class="down-cont">
                <div class="down-square down">
                    <div class="icon"></div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}