{% extends "base.html" %}

{% block content %}

    <div class="navbar">
        <a href="/">
            <div class="nav-el">
                Главная
            </div>
        </a>

        <a href="/radiators">
            <div class="nav-el">
                Радиаторы
            </div>
        </a>

        <a href="/profiles">
            <div class="nav-el">
                Профили
            </div>
        </a>

        <a href="/catalog">
            <div class="nav-el">
                Каталог
            </div>
        </a>

        <a href="/contacts">
            <div class="nav-el">
                Контакты
            </div>
        </a>
    </div>

    <div class="mobile-burger grey-burger"></div>
    <div class="mobile-sidebar">
        <div class="mobile-burger grey-burger"></div>
        <div class="links-container">
            <div class="side-el">
                <a href="/">
                    <div class="side-text-black">
                        Главная
                    </div> 
                </a>
            </div>

            <div class="side-el">
                <a href="/radiators">
                    <div class="side-text-black">Радиаторы</div> 
                </a>
            </div>

            <div class="side-el">
                <a href="/profiles">
                    <div class="side-text-black">Профили</div> 
                </a>
            </div>

            <div class="side-el">
                <a href="/catalog">
                    <div class="side-text-black">
                        Каталог
                    </div>
                </a>
            </div>

            <div class="side-el">
                <a href="/contacts">
                    <div class="side-text-black">
                        Контакты
                    </div>
                </a>
            </div>
        </div>
    </div>



    
    <div class="main-container" id="lock-position">
        <div class="p-schema p-schema-1">
            <img src="static/images/grey-scheme-3.png">
        </div>
        
        <div class="p-schema p-schema-2">
            <img src="static/images/grey-scheme-2.png">
        </div>

        <div class="grid-container">
            <div class="title">{{ _('title_series') }}</div>

            <div class="row first">
                <div class="row-el col-3">
                    <img class="lazy" src="static/images/production/01.png">
                    <div class="subtitle">
                        <div class="name">C640/01</div>
                        <div class="desc">{{ _(product_img_01) }}</div>
                        <!-- <div class="desc">Рама верхняя</div> -->
                    </div>
                </div>
                <div class="row-el col-4">
                    <img class="lazy" src="static/images/production/02.png">
                    <div class="subtitle">
                        <div class="name">C643/01</div>
                        <div class="desc">{{ _(product_img_02) }}</div>
                        <!-- <div class="desc">Рама верхняя трехполозная</div> -->
                    </div>                  
                </div>
            </div>

            
            <div class="row">
                <div class="row-el col-3">
                    <div class="column-cont">
                        <div class="row-el col-7">
                            <img class="lazy" src="static/images/production/03.png">
                            <div class="subtitle">
                                <div class="name">C640/03</div>
                                <div class="desc">{{ _(product_img_03) }}</div>
                                <!-- <div class="desc">Рама боковая</div> -->
                            </div>
                        </div>

                        <div class="row-el col-7 marg-60">
                            <img class="lazy" src="static/images/production/04.png">
                            <div class="subtitle">
                                <div class="name">C641/02</div>
                                <div class="desc">{{ _(product_img_04) }}</div>
                                <!-- <div class="desc">Рама нижняя</div> -->
                            </div>
                        </div>                    
                    </div>
                </div>
                <div class="row-el col-4">
                    <div class="column-cont">
                        <div class="row-el col-3 m-col-3">
                            <img class="lazy" src="static/images/production/05.png">
                            <div class="subtitle">
                                <div class="name">C641/03</div>
                                <div class="desc">{{ _(product_img_05) }}</div>
                                <!-- <div class="desc">Рама боковая</div> -->
                            </div>                            
                        </div>

                        <div class="row-el col-3 m-col-3">
                            <img class="lazy" src="static/images/production/06.png">
                            <div class="subtitle">
                                <div class="name">C641/01</div>
                                <div class="desc">{{ _(product_img_06) }}</div>
                                <!-- <div class="desc">Рама верхняя</div> -->
                            </div>                            
                        </div>                        
                    </div>
                </div>
            </div>    

            <div class="row">
                <div class="row-el col-3">
                    <img class="lazy" src="static/images/production/07.png">
                    <div class="subtitle">
                        <div class="name">C640/60</div>
                        <div class="desc">{{ _(product_img_07) }}</div>
                        <!-- <div class="desc">Угол 90° 60X60</div> -->
                    </div>                    
                </div>

                <div class="row-el col-3">
                    <img class="lazy" src="static/images/production/08.png">
                    <div class="subtitle flex">
                        <div class="half-sub">  
                            <div class="name">C640/33</div>
                            <div class="desc">{{ _(product_img_08_f) }}</div>
                            <!-- <div class="desc">угол "папа"</div> -->
                        </div>
                        <div class="half-sub">  
                            <div class="name">C640/34</div>
                            <div class="desc">{{ _(product_img_08_m) }}</div>
                            <!-- <div class="desc">угол "мама"</div> -->
                        </div>                        
                    </div>                    
                </div>                
            </div>  

            <div class="row">
                <div class="column-cont col-7">
                <div class="row-el col-1 m-col-2">
                    <img class="lazy" src="static/images/production/09.png">
                    <div class="subtitle">
                        <div class="name">C640/12</div>
                        <div class="desc">{{ _(product_img_09) }}</div>
                        <!-- <div class="desc">створка верх-низ</div> -->
                    </div>                    
                </div>  
                <div class="row-el col-1 m-col-2">
                    <img class="lazy" src="static/images/production/10.png">
                    <div class="subtitle">
                        <div class="name">C640/20</div>
                        <div class="desc">{{ _(product_img_10) }}</div>
                        <!-- <div class="desc">створка боковая</div> -->
                    </div>                    
                </div>  
                <div class="row-el col-1 m-col-2">
                    <img class="lazy" src="static/images/production/11.png">
                    <div class="subtitle">
                        <div class="name">C640/22</div>
                        <div class="desc">{{ _(product_img_11) }}</div>
                        <!-- <div class="desc">створка верх-низ</div> -->
                    </div>                    
                </div>  
                <div class="row-el col-1 m-col-2">
                    <img class="lazy" src="static/images/production/12.png">
                    <div class="subtitle">
                        <div class="name">C640/21</div>
                        <div class="desc">{{ _(product_img_12) }}</div>
                        <!-- <div class="desc">створка центральная</div> -->
                    </div>                    
                </div>  
                <div class="row-el col-1 m-col-2">
                    <img class="lazy" src="static/images/production/13.png">
                    <div class="subtitle">
                        <div class="name">C640/36</div>
                        <div class="desc">{{ _(product_img_13) }}</div>
                        <!-- <div class="desc">двутавр 60мм</div> -->
                    </div>                    
                </div>  
                <div class="row-el col-1 m-col-2">
                    <img class="lazy" src="static/images/production/14.png">
                    <div class="subtitle">
                        <div class="name">C640/10</div>
                        <div class="desc">{{ _(product_img_14) }}</div>
                        <!-- <div class="desc">створка бокова</div> -->
                    </div>                    
                </div>                                                                                        
                </div>        
            </div>

            <div class="row">
                <div class="row-el col-half">
                    <div class="column-cont">
                        <div class="row-el col-half m-col-half">
                            <img class="lazy" src="static/images/production/15.png">
                            <div class="subtitle">
                                <div class="name">C640/30</div>
                                <div class="desc">{{ _(product_img_15) }}</div>
                                <!-- <div class="desc">стыковочный профиль</div> -->
                            </div>  
                        </div>
                        <div class="row-el col-half m-col-half">
                            <img class="lazy" src="static/images/production/16.png">
                            <div class="subtitle">
                                <div class="name">C641/30</div>
                                <div class="desc">{{ _(product_img_16) }}</div>
                                <!-- <div class="desc">стыковочный профиль</div> -->
                            </div>                             
                        </div>
                    </div>
                </div>
                <div class="row-el col-half">
                    <img class="lazy" src="static/images/production/17.png">
                    <div class="subtitle">
                        <div class="name">C643/02</div>
                        <div class="desc">{{ _(product_img_17) }}</div>
                        <!-- <div class="desc">рама нижняя трехполозная</div> -->
                    </div>                     
                </div>
            </div>

            <div class="row">
                <div class="row-el col-38per">
                    <div class="column-cont">
                        <div class="row-el col-7 m-col-5">
                            <img class="lazy" src="static/images/production/18.png">
                            <div class="subtitle">
                                <div class="name">C640/64</div>
                                <div class="desc">{{ _(product_img_18) }}</div>
                                <!-- <div class="desc">Прямоугольник 60х40</div> -->
                            </div>                              
                        </div>
                        <div class="row-el col-7 marg-60 m-col-5">
                            <img class="lazy" src="static/images/production/19.png">
                            <div class="subtitle">
                                <div class="name">C640/66</div>
                                <div class="desc">{{ _(product_img_19) }}</div>
                                <!-- <div class="desc">Прямоугольник 60х60</div> -->
                            </div>                           
                        </div>
                        <div class="row-el col-7 marg-60 m-col-5">
                            <img class="lazy" src="static/images/production/20.png">
                            <div class="subtitle">
                                <div class="name">C640/50</div>
                                <div class="desc">{{ _(product_img_20) }}</div>
                                <!-- <div class="desc">Труба d 50 мм</div> -->
                            </div>                               
                        </div>
                    </div>
                </div>
                <div class="row-el col-2">
                    <div class="column-cont">
                        <div class="row-el col-7 m-col-3">
                            <img class="lazy" src="static/images/production/21.png">
                            <div class="subtitle">
                                <div class="name">C640/50</div>
                                <div class="desc">{{ _(product_img_21) }}</div>
                                <!-- <div class="desc">Проводник с трубы на 60мм</div> -->
                            </div>   
                        </div>

                        <div class="row-el col-7 marg-60 m-col-3">
                            <img class="lazy" src="static/images/production/22.png">
                            <div class="subtitle">
                                <div class="name">C643/03</div>
                                <div class="desc">{{ _(product_img_22) }}</div>
                                <!-- <div class="desc">рама боковая трехполозная</div> -->
                            </div>                      
                        </div>
                    </div>
                </div>

                <div class="row-el col-38per">
                    <div class="column-cont">
                        <div class="row-el col-7">
                            <img class="lazy" src="static/images/production/23.png">
                            <div class="subtitle">
                                <div class="name">C640/02</div>
                                <div class="desc">{{ _(product_img_23) }}</div>
                                <!-- <div class="desc">рама нижняя</div> -->
                            </div>                              
                        </div>
                        <div class="row-el col-7 marg-60">
                            <img class="lazy" src="static/images/production/24.png">
                            <div class="subtitle">
                                <div class="name">C640/40</div>
                                <div class="desc">{{ _(product_img_24) }}</div>
                                <!-- <div class="desc">подоконник</div> -->
                            </div>                           
                        </div>
                        <div class="row-el col-3 marg-60 m-col-3">
                            <img class="lazy" src="static/images/production/25.png">
                            <div class="subtitle">
                                <div class="name">C640/11</div>
                                <div class="desc">{{ _(product_img_25) }}</div>
                                <!-- <div class="desc">створка центральная</div> -->
                            </div>                               
                        </div>
                    </div>
                </div>
            </div>


            <div class="r-line-cont">
                <div class="line"></div>
                <div class="central-line"></div>
                <div class="line right"></div>
            </div>

            <div class="title marg-180">{{ _('title_series') }}</div>

            <div class="row">
                <div class="row-el col-30per">
                    <img class="lazy" src="static/images/production/26.png">
                    <div class="subtitle">
                        <div class="name">p400/02</div>
                        <div class="desc">{{ _(product_img_26) }}</div>
                        <!-- <div class="desc">створка оконная</div> -->
                    </div>                     
                </div>
                <div class="row-el col-30per m-col-5">
                    <img  class="lazy" src="static/images/production/27.png">
                    <div class="subtitle">
                        <div class="name">p400/07</div>
                        <div class="desc">{{ _(product_img_27) }}</div>
                        <!-- <div class="desc">импорт</div> -->
                    </div>                        
                </div>
                <div class="row-el col-30per m-col-5">
                    <img src="static/images/production/28.png">
                    <div class="subtitle">
                        <div class="name">p400/16</div>
                        <div class="desc">{{ _(product_img_28) }}</div>
                        <!-- <div class="desc">створка дверная</div> -->
                    </div>                        
                </div>                                
            </div>

            <div class="row">
                <div class="row-el col-30per">
                    <img src="static/images/production/29.png">
                    <div class="subtitle">
                        <div class="name">p400/35</div>
                        <div class="desc">{{ _(product_img_29) }}</div>
                        <!-- <div class="desc">рама широкая глухая</div> -->
                    </div>                     
                </div>
                <div class="row-el col-30per">
                    <img src="static/images/production/30.png">
                    <div class="subtitle">
                        <div class="name">p400/07</div>
                        <div class="desc">{{ _(product_img_30) }}</div>
                        <!-- <div class="desc">импост</div> -->
                    </div>                     
                </div>
                <div class="row-el col-30per">
                    <img src="static/images/production/31.png">
                    <div class="subtitle">
                        <div class="name">p400/01</div>
                        <div class="desc">{{ _(product_img_31) }}</div>
                        <!-- <div class="desc">рама узкая глухая</div> -->
                    </div>                     
                </div>                                
            </div>

            <div class="row">
                <div class="row-el col-60per">
                    <div class="column-cont">
                        <div class="row-el col-30per m-col-half">
                            <img src="static/images/production/32.png">
                            <div class="subtitle">
                                <div class="name">p400/30</div>
                                <div class="desc">{{ _(product_img_32) }}</div>
                                <!-- <div class="desc">Штапик (зазор 8мм)</div> -->
                            </div>                              
                        </div>
                        <div class="row-el col-30per m-col-half">
                            <img src="static/images/production/33.png">
                            <div class="subtitle">
                                <div class="name">p400/31</div>
                                <div class="desc">{{ _(product_img_33) }}</div>
                                <!-- <div class="desc">штапик под стеклопакет (зазор 11 мм)</div> -->
                            </div>                                   
                        </div>
                        <div class="row-el col-30per m-col-3 m-marg-60">
                            <img src="static/images/production/34.png">
                            <div class="subtitle">
                                <div class="name">p400/35</div>
                                <div class="desc">{{ _(product_img_34) }}</div>
                                <!-- <div class="desc">штапик под стеклопакет (зазор 22 мм)</div> -->
                            </div>                                
                        </div>  
                    </div>
                    <div class="row marg-60">
                        <div class="row-el col-5">
                            <img src="static/images/production/36.png">
                            <div class="subtitle">
                                <div class="name">p400/74</div>
                                <div class="desc">{{ _(product_img_36) }}</div>
                                <!-- <div class="desc">Угол 90° 40х60</div> -->
                            </div>                              
                        </div>   
                        <div class="row-el col-3">
                            <img src="static/images/production/37.png">
                            <div class="subtitle">
                                <div class="name">p400/17</div>
                                <div class="desc">{{ _(product_img_37) }}</div>
                                <!-- <div class="desc">импорт</div> -->
                            </div>                              
                        </div>                                                                      
                    </div>
                </div>
                <div class="row-el col-30per">
                    <div class="column-cont">
                        <div class="row-el col-7">
                            <img src="static/images/production/35.png">
                            <div class="subtitle">
                                <div class="name">p400/04</div>
                                <div class="desc">{{ _(product_img_35) }}</div>
                                <!-- <div class="desc">дополнение к центральной створке</div> -->
                            </div>                              
                        </div>
                        <div class="row-el col-7 marg-60">
                            <img src="static/images/production/38.png">
                            <div class="subtitle">
                                <div class="name">p400/11</div>
                                <div class="desc">{{ _(product_img_38) }}</div>
                                <!-- <div class="desc">рама дверная</div> -->
                            </div>                              
                        </div>
                    </div>
                </div>
            </div>

            <div class="row space-around">
                <div class="row-el col-5">
                    <img src="static/images/production/39.png">
                    <div class="subtitle">
                        <div class="name">p400/61</div>
                        <div class="desc">{{ _(product_img_39) }}</div>
                        <!-- <div class="desc">цоколь дверной</div> -->
                    </div>                       
                </div>
            </div>

            <div class="row">
                <div class="row-el col-25per m-col-3">
                    <img src="static/images/production/40.png">
                    <div class="subtitle">
                        <div class="name">p400/44</div>
                        <div class="desc">{{ _(product_img_40) }}</div>
                        <!-- <div class="desc">квадрат 40х40</div> -->
                    </div>                     
                </div>
                <div class="row-el col-25per m-col-3">
                    <img src="static/images/production/41.png">
                    <div class="subtitle">
                        <div class="name">p400/56</div>
                        <div class="desc">{{ _(product_img_41) }}</div>
                        <!-- <div class="desc">профиль для шпультовой двери</div> -->
                    </div>                     
                </div>
                <div class="row-el col-25per m-col-3 m-marg-60">
                    <img src="static/images/production/42.png">
                    <div class="subtitle">
                        <div class="name">p400/54</div>
                        <div class="desc">{{ _(product_img_42) }}</div>
                        <!-- <div class="desc">переходник с трубы 40 мм</div> -->
                    </div>                     
                </div>                                
            </div>
            <div class="row">
                <div class="row-el col-2 m-col-2">
                    <img src="static/images/production/43.png">
                    <div class="subtitle">
                        <div class="name">кп45115</div>
                        <div class="desc">{{ _(product_img_43) }}</div>
                    <!-- </div>                      -->
                </div>
                <div class="row-el col-38per">
                    <div class="column-cont">
                        <div class="row-el col-4 m-col-half">
                            <img src="static/images/production/44.png">
                            <div class="subtitle">
                                <div class="name">p400/89</div>
                                <div class="desc">{{ _(product_img_44) }}</div>
                                <!-- <div class="desc">порог дверной</div> -->
                            </div> 
                        </div>
                        <div class="row-el col-25per m-col-half">
                            <img src="static/images/production/45.png">
                            <div class="subtitle">
                                <div class="name">tr/75</div>
                                <div class="desc">{{ _(product_img_45) }}</div>
                                <!-- <div class="desc">ригель</div> -->
                            </div>                         
                        </div>
                    </div>
                    <div class="column-cont marg-60">
                        <div class="row-el col-7 ">
                            <img src="static/images/production/46.png">
                            <div class="subtitle">
                                <div class="name">p400/81</div>
                                <div class="desc">{{ _(product_img_46) }}</div>
                                <!-- <div class="desc">отлив</div> -->
                            </div>                         
                        </div>
                    </div>
                </div>
                <div class="row-el col-25per m-col-3">
                    <img src="static/images/production/47.png">
                    <div class="subtitle">
                        <div class="name">p400/57</div>
                        <div class="desc">{{ _(product_img_47) }}</div>
                        <!-- <div class="desc">профиль для шпультовой двери</div> -->
                    </div>                     
                </div>
            </div>

            <div class="row">
                <div class="row-el col-30per m-col-5">
                    <img src="static/images/production/48.png">
                    <div class="subtitle">
                        <div class="name">p400/71</div>
                        <div class="desc">{{ _(product_img_48) }}</div>
                        <!-- <div class="desc">угол 90° 40х60</div> -->
                    </div>                     
                </div>
                <div class="row-el col-30pe">
                    <div class="column-cont space-around">
                        <div class="row-el col-5 m-col-3">
                            <img src="static/images/production/49.png">
                            <div class="subtitle">
                                <div class="name">p400/98</div>
                                <div class="desc">{{ _(product_img_49) }}</div>
                                <!-- <div class="desc">двутавр 40 мм</div> -->
                            </div>                             
                        </div>
                        <div class="row-el col-7 marg-60 m-col-5">
                            <img src="static/images/production/50.png">
                            <div class="subtitle">
                                <div class="name">p400/97</div>
                                <div class="desc">{{ _(product_img_50) }}</div>
                                <!-- <div class="desc">переходник с р400 на с640</div> -->
                            </div>                          
                        </div>
                    </div>
                </div>
                <div class="row-el col-30per">
                    <img src="static/images/production/51.png">
                    <div class="subtitle">
                        <div class="name">p400/73</div>
                        <div class="desc">{{ _(product_img_51) }}</div>
                        <!-- <div class="desc">угол 135° 40х40</div> -->
                    </div>                     
                </div>
            </div>


        </div>
    </div>
{% endblock %}