{% extends "base.html" %}

{% block content %}
    <div class="load-container loadprocess">
        <div class="logo"></div>
        
        <div class="load-box">
            <div class="text-cont loadtext">LOADING</div>
            <div class="line">
                <div class="peace"></div>
            </div>    
        </div>


        <div class="scheme-1"></div>
        <div class="scheme-2"></div>
    </div>


    <div class="navbar">
        <a href="/">
            <div class="nav-el">
                Главная
            </div>
        </a>

        <a href="/radiators">
            <div class="nav-el">
                Радиаторы
            </div>
        </a>

        <a href="/profiles">
            <div class="nav-el active">
                Профили
            </div>
        </a>

        <a href="/catalog">
            <div class="nav-el">
                Каталог
            </div>
        </a>

        <a href="/contacts">
            <div class="nav-el">
                Контакты
            </div>
        </a>
    </div>

    <div class="mobile-burger grey-burger"></div>
    <div class="mobile-sidebar">
        <div class="mobile-burger grey-burger"></div>
        <div class="links-container">
            <div class="side-el">
                <a href="/">
                    <div class="side-text-black">
                        Главная
                    </div> 
                </a>
            </div>

            <div class="side-el">
                <a href="/radiators">
                    <div class="side-text-black">Радиаторы</div> 
                </a>
            </div>

            <div class="side-el">
                <a href="/profiles">
                    <div class="side-text-black side-active">Профили</div> 
                </a>
            </div>

            <div class="side-el">
                <a href="/catalog">
                    <div class="side-text-black">
                        Каталог
                    </div>
                </a>
            </div>

            <div class="side-el">
                <a href="/contacts">
                    <div class="side-text-black">
                        Контакты
                    </div>
                </a>
            </div>
        </div>
    </div>



    <div class="main-container" id="lock-position">
        <div class="second" id="second">
            <div class="scheme"></div>
            <div class="scheme-2"></div>

            <div class="mobile-info-cont">
                <div class="title">{{ _('title_activities') }}</div>

                <div class="imgs-cont">
                    <div class="img-el act-01"></div>
                    <div class="img-el act-02"></div>
                    <div class="img-el act-03"></div>
                    <div class="img-el act-04"></div>
                </div>

                <p class="text">
                    {{ _('p_activities') }}
                </p>
                <div class="link-butt">
                    <a href="https://drive.google.com/file/d/1ZYNLANxJnk0A-ohwKgE-O3qwd0UAoCh1/view?usp=sharing" target="blank">{{ _('a_interstate') }}</a>
                    
                </div>
            </div>
            
            <div class="info-cont">
                <div class="info-col">
                    <div class="title">{{ _('title_activities') }}</div>
                    <p class="text">
                        {{ _('p_activities') }}
                    </p>
                </div>
                <div class="info-col">
                    <div class="img act-01"></div>
                    <div class="img act-02"></div>
                    <a href="https://drive.google.com/file/d/1ZYNLANxJnk0A-ohwKgE-O3qwd0UAoCh1/view?usp=sharing" target="blank" class="link-butt">{{ _('a_interstate') }}</a>
                </div>
                <div class="info-col">
                    <div class="img act-03"></div>
                    <div class="img act-04"></div>                    
                </div>
            </div>
        </div>

        <div class="fifth" id="fifth">
            <div class="active-dots-cont">
                <div class="top-line line"></div>
                <div class="bottom-line line"></div>
                <div class="small-dots">
                    <div class="dot-sm-1"></div>
                    <div class="dot-sm-2"></div>
                    <div class="dot-sm-3"></div>
                </div>

                <div class="small-dots small-dots-bottom">
                    <div class="dot-sm-1"></div>
                    <div class="dot-sm-2"></div>
                    <div class="dot-sm-3"></div>
                </div>

                <div class="dots">

                    <div class="dot dot-01">
                        <div class="in-dot">1</div>
                    </div> 
                    <div class="dot dot-02">
                        <div class="in-dot">2</div>
                    </div>
                    <div class="dot dot-03">
                        <div class="in-dot">3</div>
                    </div>
                    <div class="dot dot-04">
                        <div class="in-dot">4</div>
                    </div>
                    <div class="dot dot-05">
                        <div class="in-dot">5</div>
                    </div>
                    <div class="dot dot-06">
                        <div class="in-dot">6</div>
                    </div>                                                                                                                        
                </div>
            </div>

            <div class="dots-cont">
                <div class="top-line line"></div>
                <div class="bottom-line line"></div>

                <div class="small-dots">
                    <div class="dot-sm-1"></div>
                    <div class="dot-sm-2"></div>
                    <div class="dot-sm-3"></div>
                </div>

                <div class="dots">
                    <div class="dot dot-01">
                        <div class="in-dot">1</div>
                    </div>
                    <div class="dot dot-02">
                        <div class="in-dot">2</div>
                    </div>
                    <div class="dot dot-03">
                        <div class="in-dot">3</div>                    
                    </div>
                    <div class="dot dot-04">
                        <div class="in-dot">4</div>      
                    </div>
                    <div class="dot dot-05">
                        <div class="in-dot">5</div>
                    </div>
                    <div class="dot dot-06">
                        <div class="in-dot">6</div>
                    </div>
                </div>
            </div>
            <div class="desc-block-01">
                <div class="title slide-title" id="slide-title">JASPER GMBH</div>
                <div class="desc slide-desc">
                    {{ _('fifth_some_text') }}
                </div>
            </div>
            <div class="slide-el slide-01"></div>
            <div class="slide-el slide-02 inactive"></div>
            <div class="slide-el slide-03 inactive"></div>
            <div class="slide-el slide-04 inactive"></div>
            <div class="slide-el slide-05 inactive"></div>
            <div class="slide-el slide-06 inactive"></div>          
        </div>



        <div class="sixth equipment-cont" id="sixth">
            <div class="slide-el2 slide-2-01">
                <div class="img-cont">
                    <img src="static/images/slides2/slide-01.png" alt="slide-01">
                </div>
                <div class="info-cont">
                    <div class="title">
                        {{ _('title_sixth') }}
                    </div>
                    <ul>
                        <li>
                            {{ _('slide_1_li_1') }}
                        </li>
                        <li>
                            {{ _('slide_1_li_2') }} 
                        </li>
                        <li>
                            {{ _('slide_1_li_3') }} 
                        </li>
                        <li>
                            {{ _('slide_1_li_4') }}
                        </li>
                    </ul>
                </div>
            </div>


            <div class="slide-el2 slide-2-02 inactivate">
                <div class="img-cont">
                    <img src="static/images/slides2/slide-02.png" alt="slide-02">
                </div>
                <div class="info-cont">
                    <div class="title">
                        {{ _('title_sixth') }}
                    </div>
                    <ul>
                        <li>
                            {{ _('slide_2_li_1') }}   
                        </li>
                        <li>
                            {{ _('slide_2_li_2') }}    
                        </li>
                        <li>
                            {{ _('slide_2_li_3') }}  
                        </li>
                    </ul>
                </div>
            </div>

            <div class="slide-el2 slide-2-03 inactivate">
                <div class="img-cont">
                    <img src="static/images/slides2/slide-03.png" alt="slide-03">
                </div>
                <div class="info-cont">
                    <div class="title">
                        {{ _('title_sixth') }}
                    </div>           
                    <ul>
                        <li>
                            {{ _('slide_3_li_1') }} 
                        </li>
                        <li>
                            {{ _('slide_3_li_2') }} 
                        </li>
                        <li>
                            {{ _('slide_3_li_3') }}
                        </li>
                        <li>
                            {{ _('slide_3_li_4') }}
                        </li>                                                                        
                    </ul>         
                </div>
            </div>
                                                

            <div class="remote-cont">
                <div class="line-cont">
                    <div class="counter-cont">
                        <span class="counter">1</span>/3
                    </div>
                    <div class="loader-cont ">
                        <div class="line back-line"></div>
                        <div class="line loaded"></div>
                    </div>
                    <div class="arrow-cont">
                        <div class="arrows">
                            <div class="arrow arrow-left"></div>
                            <div class="arrow arrow-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="gallery-cont" id="radiators">
            <div class="modal-gallery">
                <div class="close"></div> 
                <div class="gallery-slider-cont"></div>   
            </div>

            <div class="gallery-box">
                <div class="tabs-cont">
                    <div class="tab tab-1">
                        <div class="tab-text proff-butt active">{{ _('gall_butt_profiles') }}</div>
                    </div>
                    <!-- <div class="tab tab-2">
                        <div class="tab-text radio-butt">{{ _('gall_butt_radiators') }}</div>
                    </div> -->
                    <div class="tab tab-3">
                        <div class="tab-text splav-butt">{{ _('gall_butt_alloys') }}</div>
                    </div>
                </div>
                <div class="image-cont" tab-id="1">
                </div>
            </div>

            <!-- <div class="top-scheme"></div>
            <div class="bottom-scheme"></div> -->
        </div>
    </div>

{% endblock %}