{% extends "base.html" %}

{% block content %}
    <div class="navbar">
        <a href="/">
            <div class="nav-el">
                Главная
            </div>
        </a>

        <a href="/radiators">
            <div class="nav-el active">
                Радиаторы
            </div>
        </a>

        <a href="/profiles">
            <div class="nav-el">
                Профили
            </div>
        </a>

        <a href="/catalog">
            <div class="nav-el">
                Каталог
            </div>
        </a>

        <a href="/contacts">
            <div class="nav-el">
                Контакты
            </div>
        </a>
    </div>

    <div class="mobile-burger grey-burger"></div>
    <div class="mobile-sidebar">
        <div class="mobile-burger grey-burger"></div>
        <div class="links-container">
            <div class="side-el">
                <a href="/">
                    <div class="side-text-black">
                        Главная
                    </div> 
                </a>
            </div>

            <div class="side-el">
                <a href="/radiators">
                    <div class="side-text-black side-active">Радиаторы</div> 
                </a>
            </div>

            <div class="side-el">
                <a href="/profiles">
                    <div class="side-text-black">Профили</div> 
                </a>
            </div>

            <div class="side-el">
                <a href="/catalog">
                    <div class="side-text-black">
                        Каталог
                    </div>
                </a>
            </div>

            <div class="side-el">
                <a href="/contacts">
                    <div class="side-text-black">
                        Контакты
                    </div>
                </a>
            </div>
        </div>
    </div>


    <div class="radiator-container" id="lock-position">
        <div class="big-cont">
            <div class="cont">
                <div class="card last">
                    <iframe class="video" src="https://www.youtube.com/embed/o_iJdUVX9VA" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

                <h2 class="r-title">Радиаторы</h2>

                <div class="mini-cover"></div>

                <p class="r-text">

                    Алюминиевая Компания "SOLUR" динамично развивается и как всегда делает ставку на высокую технологическую оснащенность производства.
                </p>
                
                <p class="r-text">
                    Алюминиевая компания «SOLUR» производит Полновесные радиаторы отопления путем литья под давлением на современном Итальянском оборудовании компаний MARCONI, MAICOPRESSE, SAVELLI, покраска производится на линии CISART GROUP.
                </p>
                
                <p class="r-text">
                    Алюминиевый завод «SOLUR» - это современное предприятие с полным циклом переработки алюминия, с собственным литейным комплексом, химической лабораторией, которая контролирует выпускаемый для производства радиаторов сплав АК12М2.
                </p>
                
                <p class="r-text">
                    Производство радиаторов отопления на заводе Алюминиевой компании «SOLUR» происходит под полным техническим контролем Итальянских специалистов.
                </p>

                <p class="r-text">
                    Самые современные европейские (итальянские) технологии литья, сборки, покраски и испытания использованы в производстве новейшей серии высококачественных биметаллических и алюминиевых секционных радиаторов.
                </p>
                

                <div class="radiator-links" >
                    <a href="/radiators/bimetallic" class="radiator-link">
                        Подробнее о биметаллических радиаторах
                    </a>

                    <a href="/radiators/aluminium" class="radiator-link">
                        Подробнее об алюминиевых радиаторах
                    </a>
                </div>

                <div class="card">
                    <h2 class="r-title">{{ _('title_photo') }}</h2>

                    <div class="gallery-cont" id="radiators">
                        <div class="modal-gallery">
                            <div class="close"></div> 
                            <div class="gallery-slider-cont"></div>   
                        </div>
            
                        <div class="gallery-box">
                            <div class="tabs-cont">
                                <!-- <div class="tab tab-1">
                                    <div class="tab-text proff-butt active">{{ _('gall_butt_profiles') }}</div>
                                </div> -->
                                <div class="tab tab-2">
                                    <div class="tab-text radio-butt">{{ _('gall_butt_radiators') }}</div>
                                </div>
                                <!-- <div class="tab tab-3">
                                    <div class="tab-text splav-butt">{{ _('gall_butt_alloys') }}</div>
                                </div> -->
                            </div>
                            <div class="image-cont" tab-id="2">
                            </div>
                        </div>
            
                        <!-- <div class="top-scheme"></div>
                        <div class="bottom-scheme"></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        setTimeout(() => {
            console.log("Cock oriented programing");
            document.getElementsByClassName('radio-butt')[0].click()
        }, 100);
    </script>
{% endblock %}
